[2016-06-08 05:09] lamnguyen01 commented on #230
@joneslee85

I've just changed the titles into correct format.

Can you specify what details I missed so that I can add on.

Cheers

[2016-06-08 05:52] webgago opened #231 "Ruby Yoda - Ruby/Rails Developer - Remote/Saigon - C"
## Location

* Saigon, Vietnam
* Remote

## Salary Expectation

* $10-15/h, negotiable

## Requirements
* Ruby
* Ruby On Rails Framework
* Javascript (jQuery, bootstrap)
* PostgreSQL
* Heroku
* 3+ years Software Engineering experience
* 2+ years Ruby experience
* Use TDD for their code
* English proficiency

### Responsibilities

Bugfixing and new features for existing pre-launch stage booking (ar

[2016-06-08 06:15] joneslee85 commented on #230
You missed the `FT` at the tail

[2016-06-08 07:24] lamnguyen01 commented on #230
@joneslee85  I've already added FT at the tail.
Thank you very much!

[2016-06-09 09:47] dlpigpen commented on #230
Do we have any remote position?

[2016-06-09 09:57] phuoctuan opened #232 "NIC HR - Ruby on Rail Developer - Hanoi / Remote - FT"
## Location

* Hanoi, Vietnam
* Remote

## Salary Expectation

* $600-900/month or negotiable

## Requirements
* At least 1-2 years experiences in Ruby on Rails Framework
* BS degree in Computer Science, Engineering or a related subject
* Experience with HTML, CSS, JavaScript
* Experience of working with MySQL
* Significant knowledge with MVC, OOP
* Skillful in using source code management system

[2016-06-09 18:16] hieuk09 commented on #232
Hi @phuoctuan, your job post is not comply with the guide, could you please update it?

[2016-06-09 23:02] joneslee85 commented on #232
@phuoctuan please check the bulletpoint formatting of markdown

[2016-06-10 02:02] phuoctuan commented on #232
I fixed, but i am not sure that is right., not is. please help me show retail of my error.  Thanks a lot.

[2016-06-10 02:44] joneslee85 commented on #232
@phuoctuan please fix up the *Contact* section by splitting one line into multi-line

[2016-06-10 03:48] phuoctuan commented on #232
@joneslee85 Thanks so much for your time and supporting. that is the very first time i post on this. wish u a happy day.

[2016-06-10 03:57] lamnguyen01 commented on #230
@dlpigpen Temporarily, remote working is fine. In case you need help to move on to HCM, please let us know and we can handle all of it.

Keep up with me through lam.nguyen@butterflyhub.com.

Cheers.

[2016-06-10 07:23] RecruiterMaiNgo opened #233 "RUBY ON RAILS DEVELOPER - WE NEED YOU NOW"
Location

* Saigon, Vietnam
* Remote

Requirements

I'm in urgent need of finding good RoR developers to form a team around the mobile app.
- Graduated from College/ University specialized in Information Technology
- At least 2 years of experience as a Ruby on Rails developer
- Experienced in Ruby programming and Ruby on Rails framework
- Good at English

Last but not  least, you have a passion an

[2016-06-10 07:26] huydx commented on #233
@RecruiterMaiNgo your post is invalid. And we think that you're not company's person. Please read guide [here](https://github.com/awesome-jobs/jobs). We will close within 2 days if there's no response

[2016-06-10 07:28] huydx commented on #233
Because this post seems to violate deeply with our guide, so I decide to close it first, and will open later if got appropriate response

[2016-06-10 07:28] #233 closed

[2016-06-10 10:18] RecruiterMaiNgo commented on #233
Hi Admin,

Thanks for your reminder
Could you please help me to edit this post for this my very first time? As I am struggling with this posting :( For the next ones, I had experience so I will make it right easier.
Thank you so much for your help!!!

[2016-06-10 10:19] phuoctuan opened #234 "NIC HR - PHP developer - Hanoi - FT"
## Location

* Hanoi, Vietnam

## Salary Expectation

* negotiable

## Requirements
* At least 6 months experience in Code-igniter framework
* BS degree in Computer Science, Engineering or a related subject
* Experience with HTML, CSS, JavaScript
* At least 1.5 year experience of working with MySQL
* Significant knowledge with MVC, OOP
* Skillful in using source code management system especially G

[2016-06-10 11:32] hieuk09 commented on #233
Hi Mai,

I believe we already have a very detail guide and template about how to write a valid job post. Please take your time to learn how to write following the guide. We're doing this for free, so we don't really have time to do other's job.

[2016-06-10 11:40] hieuk09 commented on #232
Hi Tuan,

I took a look at your company and believe this job post is for another company. As we don't accept job post from agency, I'm sorry that we have to close this PR.

Thank you for your time to post on our board. If you have any jobs post for your OWN company, please feel free to post it here.

[2016-06-10 11:40] #232 closed

[2016-06-10 11:42] hieuk09 commented on #234
Hi Tuan,

I took a look at your company and believe this job post is for another company. As we don't accept job post from agency, I'm sorry that we have to close this PR.

Thank you for your time to post on our board. If you have any jobs post for your OWN company, please feel free to post it here.

[2016-06-10 11:42] #234 closed

[2016-06-10 12:45] RecruiterMaiNgo commented on #233
Okay, thanks. I understood from your side. Please help to close this ad for me. I will post another new one later.
Once again, thanks for you time to support.

[2016-06-11 01:35] phuoctuan commented on #234
Dear Mr. Hieu,
Thanks so much for your note. I sincerely appreciate your professional style on this.
Regards.

[2016-06-11 03:18] catvm commented on #226
Hi @truongsinh ,

I got a few years experience in .NET, may I have a chance to apply as remote worker ?

Thanks,
Cat

[2016-06-11 04:32] truongsinh commented on #226
Hi @catvm,

We exclusively use Go for our backend work, but as described, we always appreciate fast learner, and are willing to help you succeed as an engineer.

[2016-06-12 04:45] catvm commented on #226
Hi @truongsinh,
How can I contact you ?

Thanks,
Cat

[2016-06-12 09:48] Ematicvietnam opened #235 "Ematic Solutions - Customer Success Engineer - HCMC - FT"
Do you want to join a recently funded, fast-growing software start-up? Work with international team members that are passionate about digital marketing? Learn a ton and have fun doing it? Ematic Solutions just might be the place for you! We’re a SaaS provider offering an Email Intelligence Platform that helps digital marketers nimbly build and deploy sophisticated and high-ROI email marketing prog

[2016-06-12 11:13] joneslee85 commented on #226
@truongsinh please update your post with contact details

[2016-06-12 11:15] joneslee85 commented on #235
Thanks for posting with us. Please revise the format of the title, bullet points. Besides, what is this fancy job title? Is it related to customer support or solely programming?

[2016-06-13 04:44] Rosedao03 opened #236 "Devhse Singapore - IOS team leader - HCM - FT"
## Location

* Saigon, Vietnam

## Salary Expectation

* $1200-1500/month or negotiable

## Requirements
* IOS/Swift skill + Android developement
* BS degree in Computer Science, Information Technology or a related subject
* 5 year + experience as an iOS developer.
* 1 year +  at Team lead position
* Good teamwork and communication skill.
* Good learning attitude, professionalism and high sense of

[2016-06-13 06:42] Ematicvietnam commented on #235
Hi Trung,

Thank you very much for the quick reply and support. I've updated the
format with Markdown. Could you please take a look and look if it's okay?

The Customer Success Engineer is more related to customer support. They
prepare data specification for customers - data maping, they help with data
integration, cleaning the data porting, lists consolidation (most tasks are
in the JD). A decent

[2016-06-13 06:45] huydx commented on #236
@Rosedao03 Sorry, there is one thing we want to ask, are you represent the company (Devhse Singapore) ? In our jobboard, we prefer company's people instead of agency

[2016-06-13 06:54] 8BIT-ROCKSTARS opened #237 "8Bit Rockstars - DevOps Engineer - Saigon - FT"
![8BR](http://8bitrockr.com/img/logo_w.png)
#8 BIT ROCKSTARS

Floor 8th, Vincom B, 72 Le Thanh Ton, Ben Nghe Ward, Dist.1, HCMC
http://8bitrockr.com/
hr@8bitrockr.com

Email CV to **_hr@8bitrockr.com_**
## Salary

**_Up to 1,500 USD_**
## Job Description

We are looking for an **DevOps engineer**, who will work with us on building and scaling our startup teams.

**You will have responsibility for:

[2016-06-13 09:16] Rosedao03 commented on #236
yes :) I represent for them

[2016-06-13 09:44] lamnguyen01 opened #238 "Butterfly Hub - Frontend Engineer - HCMC - FT"
### Frontend Engineer

Butterfly Hub is now seeking for a Front-end Engineer who thrives to solve problems using intelligent big data system. You will be a part of an agile and dynamic startup crew that collectively changes the world through innovative technologies.  At Butterfly Hub, we create and iterate through rapid processes to unveil the beauty of human and make it better.  We turn caterpill

[2016-06-14 07:06] joneslee85 commented on #236
@Rosedao03 can you please provide a _direct_ contact point at Devhse? And are you a agency that represent the company?

[2016-06-14 07:20] vohuythao commented on #237
Very interesting and challenged job :D

[2016-06-14 07:51] Rosedao03 commented on #236
@joneslee85 this is a new company and I am the sole point of contact for them to setup a team in Vietnam

[2016-06-14 08:28] joneslee85 commented on #236
@Rosedao03 our rules demands that there is a direct contact at the company, this is not for the HR inquiry but technical / non-related HR. Please update the post with a 2nd contact point (it could be the CTO/CEO) of this startup.

[2016-06-14 14:28] itsjef commented on #156
Giờ còn tuyển và tuyển Intern/Junior không bác @tunglam14

[2016-06-14 14:54] tunglam14 commented on #156
@itsjef bạn gửi CV vào mail trên cho mình nhé.

[2016-06-14 15:43] itsjef commented on #156
@tunglam14 done :gem:

[2016-06-15 01:46] huongdx opened #239 "Vicare - Front-end / Javascript Developer - HN - FT"
If you are an experienced front-end developer with a strong drive to learn new technologies, a passion for crafting beautiful, user-friendly products and a taste for taking exciting challenges, this position is for you.
## Location
- Hanoi, Vietnam
- Fulltime
## Salary Expectation
- $500 - $1,500/month
## Requirements
- You must be very good at Javascript. Just knowing how to install some jQuery p

[2016-06-15 01:48] joneslee85 commented on #239
Thanks for posting with us. Are you working for Vicare or a agency that represent the company?

[2016-06-15 01:56] huongdx commented on #239
Dave Bui is my friend and he want me to help him select CV, this job is not for agency. Tks.

[2016-06-15 07:51] joneslee85 commented on #239
@huongdx I see. Can you please also add Dũng's contact in the contact section too?

[2016-06-15 09:12] huongdx commented on #239
Updated, tks for support

[2016-06-17 06:55] TINYpulse opened #240 "TINYpulse - Front-end Web Developer - Saigon - FT"
![hackathon-4950](https://cloud.githubusercontent.com/assets/19971922/16146200/122321fe-34a7-11e6-9a20-2c3563261ffa.jpg)

_We are looking for a **Front-End Web Developer** who is motivated to combine the art of design with the art of programming. Responsibilities will include translation of the UI/UX design wireframes to actual code that will produce visual elements of the application. You will wo

[2016-06-17 08:46] TINYpulse opened #241 "TINYpulse - Full Stack Developer - Saigon - FT"
![image](https://cloud.githubusercontent.com/assets/19971922/16145378/71ae83c0-34a2-11e6-9694-3b97e45380dd.jpg)

_We are **TINYpulse** - We help leaders gather ongoing feedback from their team members and take action resulting in a happy and productive work environment.
We are looking for a **Full Stack Developer** who is able to build single page applications including implementing, testing, inte

[2016-06-20 06:13] joneslee85 commented on #241
@TINYpulse thanks for posting with us. Great post btw

[2016-06-20 06:14] joneslee85 commented on #236
@Rosedao03 I am closing this post because it does not have the 2nd contact point as requested. Please feel free to update the post and re-open when you have the piece of info.

[2016-06-20 06:14] #236 closed

[2016-06-20 08:29] TINYpulse opened #242 "TINYpulse - Data Engineer - Saigon - FT"
![image](https://cloud.githubusercontent.com/assets/19971922/16145378/71ae83c0-34a2-11e6-9694-3b97e45380dd.jpg)

_We are **TINYpulse** - We help leaders gather ongoing feedback from their team members and take action resulting in a happy and productive work environment.
**Data Engineers:** With over 250,000 employees contributing feedback each month, we need someone who loves to dive deep into the

[2016-06-20 09:54] trucpt opened #243 "SCS - Juninor/Mid Ruby on Rails Developer - Saigon - FT"
## Location
* Saigon, Vietnam

## Salary Expectation
* +$1000/month or negotiable

## Requirements
- At least 1-year experience in RoR
- A toolbox full of awesome gems.
- Front end development: HTML, CSS, Javascript, Bootstrap
- To be a Git-ninja
- To be a good team's player.
- Can host a seminar in English
- COURAGE to change the world with our team.

### Ideally
- Passion in coding
- Pay attenti

[2016-06-21 07:18] RecruiterMaiNgo opened #244 "Apide Vietnam - Mid Ruby On Rails Developer - Saigon - FT"
## A 100% foreign owned company

You are passionate about software development and doing it the right way? Awesome so are we, our customers deserve the best they can get!

You embrace changes and see it as a necessity in order to make great software? Yup so do we, and we love the agile approach!

Join Apide Vietnam as we set out on our mission to become the best software development company in Việ

[2016-06-21 07:35] joneslee85 commented on #244
@RecruiterMaiNgo thanks for posting with us. I would like to ask if you work for this company?

[2016-06-21 07:39] joneslee85 commented on #243
@trucpt thanks for posting with us. Please revise your post as I could find typo, such as `Juninor`

[2016-06-21 07:40] 8BIT-ROCKSTARS opened #245 "8Bit Rockstars - Key Account Manager - Saigon - FT"
![8BR](http://8bitrockr.com/img/logo_w.png)
# 8 BIT ROCKSTARS
Floor 8th, Vincom B, 72 Le Thanh Ton, Ben Nghe Ward, Dist.1, HCMC
http://8bitrockr.com/
hr@8bitrockr.com

Email CV to **_hr@8bitrockr.com_**

## Salary

**_VERY ATTRACTIVE & NEGOTIABLE_**

## Job Description

We are looking for a **KEY ACCOUNT MANAGER**, who would love to build "win-win-win" situations between our teams, clients and the

[2016-06-21 07:47] RecruiterMaiNgo commented on #244
Yes, I do. We are a start-up company so I use my personal email instead at the moment. Thanks for your caring!

[2016-06-21 23:38] joneslee85 commented on #244
So you are no longer working for NIC?

[2016-06-22 01:31] RecruiterMaiNgo commented on #244
Yep, I have just changed job recently. I didn't work for Headhunting company anymore. So I will highly appreciate if you could support to advertise this post to RoR Network.
Thanks so much!

[2016-06-22 01:34] joneslee85 commented on #244
@RecruiterMaiNgo 👍 , please update this post with the contact details of the CTO or CEO and it is ready to go

[2016-06-22 01:48] RecruiterMaiNgo commented on #244
It's done. I'm wondering if you need me to add the CTO's phone number and Skype or not? As he is so busy and his time goes too fast these days so I'm afraid to share his detailed contact.

[2016-06-22 02:22] joneslee85 commented on #244
Email should be good.

[2016-06-22 02:23] joneslee85 commented on #243
@trucpt there is no update after 2 days thus the job post is now closed. Feel free to make amendment and re-open it.

[2016-06-22 02:23] #243 closed

[2016-06-22 04:06] RecruiterMaiNgo commented on #244
Thanks so much!

[2016-06-23 05:02] lamnguyen01 opened #246 "Butterfly Hub – Quality Control (QC) - Saigon - FT"
### Job Description - Quality Control (QC)

Butterfly Hub is now seeking for a Quality Control (QC) who thrives to make our product exquisite with hard works. You will be a part of an agile and dynamic startup crew that collectively changes the world through innovative technologies.  At Butterfly Hub, we create and iterate through rapid processes to unveil the beauty of human and make it better.

[2016-06-23 05:17] huydx commented on #245
hi @8BIT-ROCKSTARS , unfortunately we are supporting technical job only :). It's not only about policy, it's also about posting non-technical job here will have really bad performance IMHO. So we will close this JD.

[2016-06-23 05:17] #245 closed

[2016-06-23 07:36] #227 closed

[2016-06-29 04:24] SentifiHiringTeam opened #247 "Sentifi - Senior Data Engineer - HCMC - FT"
![30796](https://cloud.githubusercontent.com/assets/20198939/16440290/ae987ee8-3dea-11e6-8b33-f797e8dc5bbf.jpg)
_Every hour, the company’s big data and artificial intelligence based technology delivers insightful analysis to millions of readers on leading financial newspapers and financial services in Europe and Asia.Our fast growing fintech company employs meanwhile around 80 employees and has it

[2016-06-29 07:19] SentifiHiringTeam commented on #247
@huydx Could you please add lable of Python and Java into the post? Thanks

[2016-07-05 04:36] mylinh2607 opened #248 "Reeting Internet - Senior iOS Developer - Saigon - FT"
Reeting is a trusted online marketplace for people to list, discover, and rent accommodations. Reeting is the easiest way to connect apartment hunters and home owners. Utilising our rich and accurate apartment database, Reeting makes the process of listing or booking appointments with landlords effortless and efficient.
With our unique management and analysis tools for homeowners, Reeting offers t

[2016-07-05 04:39] mylinh2607 opened #249 "Reeting Internet - Senior Backend Developer - Saigon - FT"
Reeting is a trusted online marketplace for people to list, discover, and rent accommodations. Reeting is the easiest way to connect apartment hunters and home owners. Utilising our rich and accurate apartment database, Reeting makes the process of listing or booking appointments with landlords effortless and efficient.
With our unique management and analysis tools for homeowners, Reeting offers t

[2016-07-05 05:43] mylinh2607 opened #250 "Reeting Internet - Senior Android Developer - Saigon - FT"
Reeting is a trusted online marketplace for people to list, discover, and rent accommodations. Reeting is the easiest way to connect apartment hunters and home owners. Utilising our rich and accurate apartment database, Reeting makes the process of listing or booking appointments with landlords effortless and efficient.
With our unique management and analysis tools for homeowners, Reeting offers t

[2016-07-05 05:49] huydx commented on #250
@mylinh2607 it's better if you can give us information about reeting.com.

[2016-07-05 08:46] RecruiterMaiNgo opened #251 "Apide Vietnam - Fullstack Web Developer - Saigon - FT"
## A 100% foreign owned company

You are passionate about software development and doing it the right way? Awesome so are we, our customers deserve the best they can get!

You embrace changes and see it as a necessity in order to make great software? Yup so do we, and we love the agile approach!

Join Apide Vietnam as we set out on our mission to become the best software development company in Việ

[2016-07-05 08:53] joneslee85 commented on #250
@mylinh2607 thanks for posting with us, but your post still need to conform with our post format, for example the bullet point should not be numbered bullets

[2016-07-05 08:53] joneslee85 commented on #249
@mylinh2607 can you please replace numbered bullet points with unnumbered bullet points?

[2016-07-05 09:04] mylinh2607 commented on #250
Hello,

Thank you for you feedback! I will adjust my post accordingly

[2016-07-05 09:31] #231 closed

[2016-07-05 09:34] webgago opened #252 "Ruby Yoda - Javascript Developer - Remote/Saigon - C"
## Location

* Saigon, Vietnam
* Remote

## Salary Expectation

* $10/h, negotiable

## Requirements
* Javascript
* Angular.js
* Jasmine
* 5+ years Software Engineering experience
* 5+ years Javascript experience
* Use TDD for their code
* English proficiency

### Responsibilities

Rework current front-end to SPA with angular.js

### Contact

Tony: asozontov_at_gmail_dot_com

[2016-07-05 23:01] brancusi opened #253 "MLVK - Fullstack Web Developer - Remote/Saigon - FT"
![Image of MLVK](http://mlvk-public-assets.s3.amazonaws.com/full.png)
Hi all, I'm Aram, co-founder of [Margeaux and Linda's Vegan Kitchen](http://mlvegankitchen.com/). We are a Los Angeles based food company specializing in healthy packaged meals and snacks.

We believe technology can solve many of the [problems the food industry](https://www.greenbiz.com/article/why-food-industry-struggles-reduce

[2016-07-08 00:28] joneslee85 commented on #252
@webgago thanks for posting with us. Can you please let us on in what your project is about?

[2016-07-09 16:44] phucnm commented on #248
This requirement `Minimum 2 years of experience in native Android mobile app development` when you are hiring an iOS position ?

[2016-07-10 02:24] huydx commented on #248
@mylinh2607 do review your JD, or we have to close it.

[2016-07-11 00:43] joneslee85 commented on #252
I am closing this because I have not received any response from you.

[2016-07-11 00:43] #252 closed

[2016-07-11 11:02] tuyentran134 opened #254 "PIXTA Vietnam - Junior Developer - Hanoi - FT"
## About Company

PIXTA is Japanese leading marketplace site of stock photos, illustrations, vectors and footage. Launched in May 2006 with only a few hundreds of images and 50 contributors, we have grown as one of the largest stock image providers in Japan. Today our library includes over 14 million images from over 170,000 contributors.

PIXTA is sourced by diverse contributors such as stock pho

[2016-07-12 08:04] minhdang86 opened #255 "goGame - DevOps Engineer - HCMC - FT"
## _Location_
- Saigon, Vietnam (Address: Ung Van Khiem Street, Binh Thanh Dist, HCMC)
## _Salary Expectation_
- Negotiable - Can be up to **$2000**
## _Requirements_
### **Technical Requirements**
- Diploma / Bachelor Degree in a relevant field;
- 3+ years experience maintaining, deployment of production software systems;
- Strong background in Linux/Unix Administration with advanced shell script

[2016-07-12 08:10] joneslee85 commented on #248
@mylinh2607 I am closing this post because I have not received any response from you.

[2016-07-12 08:10] #248 closed

[2016-07-12 08:12] joneslee85 commented on #255
@minhdang86 thanks for posting with us. Please revise:

* markdown header format

Are you the HR people of the company? If not, can you please provide the HR or the CTO/CEO email here?

[2016-07-12 08:42] ThamDo opened #256 "NUS Technology - Fullstack Web Developer - HCMC - FT"
# Location
- Scetpa Building, 19A Cong Hoa Street, Wall 12, Tan Binh District, HCMC
## Salary Expectation
- Very attractive
### You will:
- Be part of a dynamic and helpful group
- Be involved in the process of clarifying customer's needs, designing and implementing them in accordance with coding standards and conventions
- Be encouraged to suggest ideas
- Be involved in testing, deploying applica

[2016-07-12 08:54] minhdang86 commented on #255
Thks for your review. I've edited my JD format.

[2016-07-12 12:06] webgago commented on #252
Sorry, didn't see the question.
The project is SPA for a medical company in USA.
I'm an owner of consulting company Ruby Yoda here in vietnam. We develop business apps for american/european.

[2016-07-12 14:42] kentnguyen opened #257 "Parcel Perform - Senior/Junior Python Developer - Saigon - FT"
## Requirements
- At least 2 years (for senior), solid experience working with **Python** language and frameworks.
- Strong knowledge of scaling practices such as in-memory databases, load balancing, caching, etc.
- Worked with at least one project using a MQ as communication hub. If you start one today, that still counts.
- Fluent in RESTful and real-time communication protocols.
- Familiar with

[2016-07-15 04:35] codeboxhr opened #258 "CodeBox Solutions - Ruby on Rails Developer - Saigon - FT"
## Location

Saigon, Vietnam

## Salary Expectation

From 14 - 20 Mil VND

## The Job

The full stack developer position will be required to be eager to work on both front-end and back-end side of an application, helping us developing new features, maintain the current version of the product which is fast-growing in the U.S market.

## Your Skills and Experience

### Must Have

- At least one year

[2016-07-15 16:17] 8BIT-ROCKSTARS opened #259 "8 Bit Rockstars - Senior Backend Developers - Saigon - FT"
![8BR](http://8bitrockr.com/img/logo_w.png)
# 8 BIT ROCKSTARS
Floor 8th, Vincom B, 72 Le Thanh Ton, Ben Nghe Ward, Dist.1, HCMC
http://8bitrockr.com/
hr@8bitrockr.com

Email CV to **_hr@8bitrockr.com_**

## Salary

**_NEGOTIABLE && VERY ATTRACTIVE_**

## Job Description

We are looking for people who can work well independently and love to be part of a team.

**What will you do?**

- Be an expert

[2016-07-15 16:18] 8BIT-ROCKSTARS opened #260 "8 Bit Rockstars - Senior Web Developers - Saigon - FT"
![8BR](http://8bitrockr.com/img/logo_w.png)
# 8 BIT ROCKSTARS
Floor 8th, Vincom B, 72 Le Thanh Ton, Ben Nghe Ward, Dist.1, HCMC
http://8bitrockr.com/
hr@8bitrockr.com

## Salary

**_Up to 2000 USD/month_**

## Job Description

We are looking for people who can work well independently and love to be part of a team.

You will be working with international clients on very interesting products. This i

[2016-07-16 08:47] #258 closed

[2016-07-16 08:48] lntan opened #261 "CodeBox Solutions - Ruby on Rails Developer - HCMC - FT"
## Location

HCMC, Vietnam. Not recruit the remote candidates.

## Salary Expectation

From 14 - 20 Mil VND

## The Job

The full stack developer position will be required to be eager to work on both front-end and back-end side of an application, helping us developing new features, maintain the current version of the product which is fast-growing in the U.S market.

- Have the chance to work direc

[2016-07-18 05:16] #197 closed

[2016-07-18 08:27] nguyenmai2911 opened #262 "GIANTY - Jr. / Sr. Ruby On Rails Developer - Saigon - FT"
GIANTY is one member of Global Group one of the leading mobile contents and services providers with millions of users worldwide. Global Group has expanded its business network to international branches located worldwide, spreading from Japan to Chinese, USA and Vietnam.
 There are about 300 staffs working in Vietnam and we are looking for Ruby on Rail Developer for our expanding plan.
Our page : h

[2016-07-18 09:19] nguyenmai2911 commented on #262
## About Our Company
GIANTY is one member of Global Group (www.gnt.co.jp), one of the leading mobile contents and services providers with millions of users worldwide. Global Group has expanded its business network to international branches located worldwide, spreading from Japan to Chinese, USA and Vietnam.
There are about 300 staffs working in Vietnam and we are looking for Ruby on Rail Developer

[2016-07-18 10:36] RecruiterMaiNgo opened #263 "Apide Vietnam - Mobile Developer (IOS/Android) - Saigon - FT"
## A 100% foreign owned company

You are passionate about software development and doing it the right way? Awesome so are we, our customers deserve the best they can get!

You embrace changes and see it as a necessity in order to make great software? Yup so do we, and we love the agile approach!

Join Apide Vietnam as we set out on our mission to become the best software development company in Việ

[2016-07-19 01:28] lntan opened #264 "CodeBox Solutions - Senior .Net Developer - HCMC - FT"
## Location

HCMC, Vietnam. Not recruit the remote candidates.

## Salary Expectation

From 14mil to 25mil VND

## The Job

We are looking for talented developers to join our team. The .NET developer will be required to be eager to work on both frontend and backend side of an application.

- Have the chance to work directly with Project Owner in the AUS
- Regular online meetings with client team
-

[2016-07-19 02:51] lntan opened #265 "CodeBox Solutions - Web and Mobile UI-UX Designer - HCMC - FT"
## Location

HCMC, Vietnam. Not recruit the remote candidates.

## Salary Expectation

15 Mil - 25 Mil VND

## The Job

The UI Designer is responsible for creating, designing and tweaking user interfaces. The successful user interaction designer will be required to understand our user’s workflow and develop solutions to complex user-centered design problems.

The User Interface Designer will be re

[2016-07-19 07:17] HienTTran opened #266 "Niteco - Sr. Ruby on Rails Developer - HCMC - Vietnam - FT"
Niteco is a world-class software development company with expertise in building custom applications, mobile solutions, and implementation of web content management and e-commerce strategies. Our teams have a proven track record in achieving fantastic success with our global client base by working in close partnership and providing superior consultation value. We are forward thinking and we take pr

[2016-07-20 09:48] thanhngvpt commented on #237
great job

[2016-07-21 09:12] 8BIT-ROCKSTARS opened #267 "8Bit Rockstars - Mobile Developers (iOS / Android / React Native) - Saigon - FT"
![8BR](http://8bitrockr.com/img/logo_w.png)
# 8 BIT ROCKSTARS
Floor 8th, Vincom B, 72 Le Thanh Ton, Ben Nghe Ward, Dist.1, HCMC
http://8bitrockr.com/
hr@8bitrockr.com

## Salary

**_Up to 1500 USD/month_**

## Job Description

- You will work as a Developer in a small team with exciting international startups, supported by a local Project Manager.
- As our customers are typically ambitious startup

[2016-07-21 09:15] 8BIT-ROCKSTARS opened #268 "8Bit Rockstars - Java Web Developers - Saigon - FT"
![8BR](http://8bitrockr.com/img/logo_w.png)
# 8 BIT ROCKSTARS
Floor 8th, Vincom B, 72 Le Thanh Ton, Ben Nghe Ward, Dist.1, HCMC
http://8bitrockr.com/
hr@8bitrockr.com

## Salary

**_Up to 1500 USD/month_**

## Job Description

- You will work as a Developer in a small team with exciting international startups, supported by a local Project Manager.
- As our customers are typically ambitious startup

[2016-07-21 16:42] lntan opened #269 "CodeBox Solutions - Fresher Web Developer - HCMC - FT"
## Location

HCMC, Vietnam. Not recruit the remote candidates.

## Salary Expectation

$350 - $500

## What You Will Do

- To be trained on web development in RoR or .NET in real projects
- To work on both front-end and back-end
- Have the chance to work directly with Project Owner in the US or AUS
- Regular online meetings with client team
- Requirement analysis and finalization
- Implement new f

[2016-07-27 12:53] thinhhuynh opened #270 "WTHApps - Senior Full-stack web developer - HCM - FT"
## Location

* Dreamplex Office Saigon, Vietnam
* Full time

## Salary Expectation

* $1500 - 1800 /month

## What will you do
Senior full-stack Developer will work with members of the development team.  You will join whole phases of software development process such as make requirement, design, development, implementation code review, testing and deployment.

### Professional Responsibilities:

T

[2016-07-28 07:51] RecruiterMaiNgo opened #271 "Apide Vietnam - PHP/Laravel FullStack Developer with eCommerce touch - Saigon - FT"
## A 100% foreign owned company

You are passionate about software development and doing it the right way? Awesome so are we, our customers deserve the best they can get!

You embrace changes and see it as a necessity in order to make great software? Yup so do we, and we love the agile approach!

Join Apide Vietnam as we set out on our mission to become the best software development company in Việ

[2016-07-28 08:01] tucq88 commented on #271
Hell yeah, A very good PHP job. Thanks for posting. #phpstrongagain ✌️

[2016-07-28 08:08] RecruiterMaiNgo commented on #271
@tucq88 Could you please add labels for it? Thanks so much!

[2016-07-28 08:15] joneslee85 commented on #271
@RecruiterMaiNgo let me, it seems to me this is a migration job from Spree to Magento. Challenging I guess.

[2016-07-28 08:17] joneslee85 commented on #262
It's been a week without response or amendment. i close this post for now.

[2016-07-28 08:18] joneslee85 commented on #256
Please revise the post title format to comply with our guideline

[2016-07-28 08:21] joneslee85 commented on #270
Thanks for posting with us, please remove the salary from the title as it does not comply with our guideline.

Additionally, please also ensure that all bullet points are correctly formatted, and replace all uppercased title with standardised lower-case header.

The contact section can be improved by placing under a section with dedicated header

[2016-07-28 08:23] RecruiterMaiNgo commented on #271
@joneslee85 Thanks! Hope it will be attractive enough to good candidates :smile:

[2016-07-29 06:40] ThamDo commented on #256
joneslee85 I revised post title as your guideline. Thanks

[2016-07-29 07:40] nguyenmai2911 commented on #262
Dear Trung,

May be you had a misunderstood.
I had responsed to you by a "like" button and also revise the formart of the buttlet points before you closed my post.

[2016-08-01 07:48] GitBulk commented on #269
Is there any chance for .Net experienced dev ?

[2016-08-01 08:00] lntan commented on #269
Yes. There is.

[2016-08-01 08:01] lntan commented on #269
@GitBulk  https://github.com/awesome-jobs/vietnam/issues/264

[2016-08-03 02:33] Vietnambiz opened #272 "Subiz Vietnam - Fulltime AngularJS/ReactJS Developer - HN"
## Location
- Hanoi, Vietnam
## Salary Expectation
- $800-$1200/month or negotiable
## Requirements
- 2+ years JavaScript, ReactJS/AngularJS experience
- Having experience with NodeJS, Golang, Docker is a plus
## You’ll be responsible for
- Turning all the complex ideas into simple and easy-to-use product for users
- Designing and creating some important parts of UI
- Evaluating and optimizing to

[2016-08-03 07:42] lntan opened #273 "CodeBox Solutions - DevOps Engineer - HCMC - FT"
## Location

HCMC, Vietnam. Not recruit the remote candidates.

## Salary Expectation

Commensurate with experience

## The Job

We are looking for a DevOps Engineer with a passion for learning new technologies and a strong interest in infrastructure automation and continuous deployment.
- Must be familiar with the software development cycle and have a strong understanding of security best practic

[2016-08-04 13:34] jelenajjo opened #274 "Meteor + React, React-Native Developer - Remote work"
## Location

* Remote

## Salary Expectation

* $1000-2000/month or negotiable

## Requirements
* Javascript

## Skills
* Meteorjs
* React-Native
* React

### Must Have

* Apps done with meteor/React-native

### Ideally

* Experience with

### Responsibilities

Great power comes with great responsibilities!

### You’ll be responsible for

* Finishing Uber like app for web & mobile

### You can bri

[2016-08-04 15:30] hieuk09 commented on #274
Could you add more information about the job as well as the company?

[2016-08-04 15:55] jelenajjo commented on #274
Hi @hieuk09

Job details will be announced to chosen developer.

About company, we are located in **Serbia**, but we are mostly **remote team**.

[2016-08-04 17:19] hieuk09 commented on #274
Since we want to keep the high quality of the job post here, the detail job description and company description is a must-have requirement for all job posts ([here](https://github.com/awesome-jobs/vietnam/issues/242) is a great example).

[2016-08-04 17:29] jelenajjo commented on #274
Ok, I will fix it later, I am in the middle of work.

[2016-08-05 01:53] joneslee85 commented on #272
Thanks for the posting. Can you please revise the job title? Because it is missing the job type (in your case I believe it is full time)

Furthermore, please search replace `Reactjs` with `ReactJS` / `Angular.js` with `AngularJS`.

[2016-08-05 07:23] ASV-recruit opened #275 "AOI Systems Vietnam - Back-end Developer (Java/PHP) - HCMC - FT"
## Location
- Tan Binh, HCMC, Vietnam
## Salary Expectation
- $550 - 900/month or negotiable
## Requirements

University graduated: Software Engineer, IT, …
At least 1 year experience.
Have knowledge about OOP and design patterns.
Java candidate: have knowledge about Java, Spring Framework (IOC, AOP, Spring Transactions, JDBC Templates). Experience at UNIX / Linux, able to write shell scripts is a

[2016-08-05 07:25] ASV-recruit opened #276 "AOI Systems Vietnam - Back-end Developer (Java/PHP) - HCMC - FT"
## Location
* Tan Binh, HCMC, Vietnam

## Salary Expectation
* $550 - 900/month or negotiable

## Requirements
University graduated: Software Engineer, IT, …
At least 1 year experience.
Have knowledge about OOP and design patterns.
Java candidate: have knowledge about Java, Spring Framework (IOC, AOP, Spring Transactions, JDBC Templates). Experience at UNIX / Linux, able to write shell scripts is

[2016-08-05 08:23] joneslee85 commented on #273
Thanks for posting with us, please revise the bullet point format of `Your Skills and Experience` and `Other Requirements` sections because they are not `*`.

[2016-08-05 08:28] lntan commented on #273
@joneslee85 updated

[2016-08-06 04:30] bluzky commented on #266
Do you have any position for junior Ruby on Rails?
I have experience with Python too.

[2016-08-08 03:44] Vietnambiz commented on #272
@joneslee85 I've revised my post and made some adjustments. Plz kindly check it again. Thanks alot!

[2016-08-08 03:54] hieuk09 commented on #274
It's been a week without amendment. I close this post for now.

[2016-08-08 03:54] #274 closed

[2016-08-08 04:13] kfitsdnbhd opened #277 "KFit - Mobile Developer (Android) - Kuala Lumpur - FT"
## Location
- Kuala Lumpur, Malaysia
## Requirements
- 3+ years’ experience developing native Android Applications and/or 3+ years’ experience as a software engineer or relevant experience (Java)
- Experience with at least one back-end/server-side system to include, but not limited to: RoR, node.js, Python, etc
- Proven track record of shipping software and successfully released apps on App Store

[2016-08-08 04:52] coltech55it commented on #277
Hi KFit, do you sponsor a work visa for this position? Thanks.

[2016-08-08 07:43] kfitsdnbhd commented on #277
Hi there,

Yes we do!

On Mon, Aug 8, 2016 at 12:52 PM, coltech55it <notifications@github.com>
wrote:

--

Keep fit,

Melissa Ng

Talent Team

M +60176737796

W www.kfit.com

Download the KFit App on iOS <http://bit.ly/1MZfWfS> and Android
<http://bit.ly/1WdKayR> today!

CONFIDENTIALITY NOTICE: This message (including any attachments) is
confidential and may be privileged. It may be read, copied a

[2016-08-08 07:54] jonathan-vinova opened #278 "Vinova - Ruby on Rails Developer - HCMC - FT"
## Company Information :

We, VINOVA (VIbrant inNOVAtors), earn respect from customers for being committed to quality, flexibility and speed. We strike to build killing products by working closely with customer, by working passionately, and by collaborating openly and disciplinary. Vinova is among **TOP10** Mobile Applications Development Companies in Singapore - according to Medium.com.
_Website_

[2016-08-08 07:56] jonathan-vinova opened #279 "Vinova - Mobile Developer (iOS/Android) - HCMC - FT"
## Company Information :

We, VINOVA (VIbrant inNOVAtors), earn respect from customers for being committed to quality, flexibility and speed. We strike to build killing products by working closely with customer, by working passionately, and by collaborating openly and disciplinary. Vinova is among **TOP10** Mobile Applications Development Companies in Singapore - according to Medium.com.
_Website_

[2016-08-08 11:26] 8BIT-ROCKSTARS opened #280 "8Bit Rockstars - Algorithm Expert (Java, C++, Python) - Saigon - FT"
![8BR](http://8bitrockr.com/img/logo_w.png)
# 8 BIT ROCKSTARS
Floor 8th, Vincom B, 72 Le Thanh Ton, Ben Nghe Ward, Dist.1, HCMC
http://8bitrockr.com/
hr@8bitrockr.com

## Salary

**_Up to 1500 USD/month_**

## Job Description

Are you dreaming in algorithms? “_Traveling Salesman_” is something you always wanted to solve? Do you want to work together with some of the best experts on earth? You love

[2016-08-08 12:37] constantx commented on #170
bump

[2016-08-09 02:33] HienTTran commented on #266
@bluzky Hi Dung, at the moment we are building the team so experienced developers would be more suitable. When the project is built, opportunities should also open to juniors. Please feel free to drop me a message via hien.tran@niteco.se or Skype ID: hien-tran-niteco if you have any concerns.
Thank you.

[2016-08-09 03:08] huydx commented on #275
It seems that this job is duplicated with https://github.com/awesome-jobs/vietnam/issues/276, can you check?

[2016-08-09 03:10] huydx commented on #278
Hi @jonathan-vinova , please conform to our JD by remove "Wanted" part in your title

[2016-08-09 03:11] ASV-recruit commented on #275
@huydx sorry, it seems my mistake. could I delete #276?

[2016-08-09 03:13] #276 closed

[2016-08-09 03:14] huydx commented on #275
I've closed it

[2016-08-09 03:14] ASV-recruit commented on #275
thanks for your support ^^

[2016-08-09 10:12] ThaoMySQUAR opened #281 "MySQUAR - Android Engineer - HCM - FT"
## Location
- 246 Cong Quynh, District 1, HCM, Vietnam.
## Salary Expectation
- Above 1000$
## Requirements
- From 2 years experiences.
- Material Design
- Best tools out there: Android Studio, Fabric, New Relic
- Smooth sailing with Github, code review, unit test, Gradle and Jenkins
- We are not afraid to apply new design patterns and concepts like RxAndroid, MVVM, MVP
- We are agile and customer

[2016-08-09 10:32] rhacker commented on #281
[code]
Are you sure ?

[2016-08-09 10:36] checkraiser commented on #281
@ThaoMySQUAR
- About Location: You can provide more details about address ?
- About Salary: A serious position needs more serious salary description than the `????`
- About Skills: You should provide more details about skills here, so that both applicants and you could expect from each other.
- About Responsibilities: It's too general for what could be called `responsibility`
- About `You Can Brin

[2016-08-09 10:39] ThaoMySQUAR commented on #281
Sorry we just updated the article

[2016-08-09 13:15] diepdt opened #282 "Data Engineer"
## Sentifi
Sentifi is the leading platform to access, monitor, and collaborate on the wisdom of the financial crowd. This can help participants in the financial markets to be closer to the heartbeat of market stakeholders and eventually do better long- and short term investment decisions. To understand what the financial crowd say about different companies and financial products is also valuable i

[2016-08-09 14:58] joneslee85 commented on #270
Please revise the bullet points format, please see screenshot
<img width="580" alt="screen shot 2016-08-10 at 12 57 00 am" src="https://cloud.githubusercontent.com/assets/135605/17521121/777e26c6-5e95-11e6-8d91-8a605ccf29fe.png">

[2016-08-10 00:28] joneslee85 commented on #282
Thanks for posting with us.

Can you please update your post format so that the title comply with the [guideline](https://github.com/awesome-jobs/vietnam/blob/master/README.md)? Furthermore, can you please provide your company details? Job post does not have detail information about the companies and if the poster does not represent the HR of the company, it is considered invalid.

[2016-08-10 04:01] GiauRecruitmentConsultant opened #283 "Australia Product Company - Senior .Net Developer - HCM - FT"
### Location
* District 11, Saigon, Vietnam
* Full-time

### Salary Expectation
* 1,000 - 1,500$ NET ( Can negotiate base on experience)

### NIC Human Resources's Client
Our client a leading developer and supplier of cloud-based software solutions for Automotive Dealers and Manufacturers.

### Responsibilities
- Be able to analyze, design, code, test, document and implement new applications or en

[2016-08-10 04:21] GiauRecruitmentConsultant opened #284 "Australia Product Company - Senior Mobile/Web Developer - HCM - FT"
### Location
* District 11, HCMC, Vietnam
* Full-time

### Salary Expectation
* 1,000 - 1,500$ NET ( Can negotiate base on experience)

### NIC Human Resources's Client
Our client a leading developer and supplier of cloud-based software solutions for Automotive Dealers and Manufacturers.

### Responsibilities
- Be able to analyze, design, code, test, document and implement new applications or enha

[2016-08-10 04:51] GiauRecruitmentConsultant opened #285 "Japanese Outsourcing Company - Java Developer - HCM - FT"
### Địa Điểm
- Quận 1, Hồ Chí Minh City, Vietnam
- Full-time

### Mức lương
- 600$ - 1,200$

### Khách hàng của NIC Human Resources
Khách hàng của NIC là công ty IT Nhật Bản chuyên thiết kế, phát triển ứng dụng chạy trên nền tảng Smartphone, nền tảng các mạng xã hội, sản xuất và phát triển ứng dụng website.

### Công việc chính:
- Tham gia vào các dự án phần mềm với những doanh nghiệp hàng đầu Nhậ

[2016-08-10 06:42] lomojp opened #286 "PIXTA VIETNAM - Junior/Senior Developer - Ha Noi - FT"
## Location
Duy Tan, Ha Noi, Viet Nam

## About Company
PIXTA is Japanese leading marketplace site of stock photos, illustrations, vectors and footage. Launched in May 2006 with only a few hundreds of images and 50 contributors, we have grown as one of the largest stock image providers in Japan. Today our library includes over 14 million images from over 170,000 contributors.

PIXTA is sourced by

[2016-08-11 03:34] ThaoMySQUAR opened #287 "MySQUAR - [Senior] Fullstack Javascript/NodeJS Engineer - HCM - FT"
## Location
- 246 Cong Quynh, District 1, HCM, Vietnam
## Salary Expectation
- Above 1200$
## About Job

Backend is at the heart of our products. It is the brain and lungs of it, and we grow it with a lot of care. We are looking at working with passionate people that love to polish their craft, that love design patterns and are not worried about learning new things or just using what works best.
W

[2016-08-11 03:35] AlecksJohanssen commented on #287
Ahh no more dodging bullet and flying <3

[2016-08-11 12:08] joneslee85 commented on #286
Thanks for posting with us. Can you please revise your post content? It does miss words

* `1-3 experience in software development` - what is `1-3`? is it `years`?
* the format of the `Dev enviroment` should not be bullet point
* the last line of `Ideally` miss word too, `Experience with`? exp with what?
* `500-1000 USD`, the number should have `$` prefix
* typo `Develope`
* the trailing `,` of `Y

[2016-08-11 12:11] joneslee85 commented on #284
Thanks for posting with us Ms. Giau. The job guideline requires job post reveal the company name. Furthermore, we do not allow recruiter agent to post the job here _unless_ the recruiter agent is hiring people for themselves.

[2016-08-11 12:11] #284 closed

[2016-08-11 12:13] joneslee85 commented on #285
Thanks for posting with us Ms. Giau. The job guideline requires job post reveal the company name. Furthermore, we do not allow recruiter agent to post the job here unless the recruiter agent is hiring people for themselves.

[2016-08-11 12:13] #285 closed

[2016-08-11 12:13] joneslee85 commented on #283
Thanks for posting with us Ms. Giau. The job guideline requires job post reveal the company name. Furthermore, we do not allow recruiter agent to post the job here unless the recruiter agent is hiring people for themselves.

[2016-08-11 12:13] #283 closed

[2016-08-11 12:14] joneslee85 commented on #282
I am closing this job post because I haven't seen any amendment made for the last 2 days.

[2016-08-11 12:14] #282 closed

[2016-08-11 12:17] joneslee85 commented on #270
I am closing this job because I have not seen any amendment made to the bullet point since the last 2 days.

[2016-08-11 12:17] #270 closed

[2016-08-11 16:57] longkt90 opened #288 "RingMD - Senior Devops Engineer - Singapore - FT"
## Location
- Singapore
- Fulltime
- EP sponsored
## About us

RingMD is a healthcare network designed to connect patients with the very best doctors around the world and across borders. Through the use of cutting­-edge technology in a simple-to-use app, we provide our patients with instant access to a global community of the world’s leading physicians. We are also developing a number of wearable

[2016-08-12 02:16] lomojp commented on #286
Well-noted with thanks!

[2016-08-12 06:08] GiauRecruitmentConsultant commented on #283
Dear Trung Lê,

Thank you very much for your kind email. I don't know about that rule. I
thought that Github: Awesome jobs is a platform for career opportunities
which is spread for everyone.

Besides that, I can't understand why there are a discrimination between
hiring companies and recruiting agents. As a people working in a recruiting
agent, I love my job and I think that I am doing a meaningf

[2016-08-12 06:36] joneslee85 commented on #283
I really appreciate your feedback.

I acknowledge that there are quality recruiter agents in the market however for the Vietnamese market and some in the world, majority are very poor. It is not the first time I receive spam email or some phone call from agents who could not distinguish between JavaScript and Java. Until the day the scene is brighter, I reserve the call to rule out all recruiting

[2016-08-12 07:12] GiauRecruitmentConsultant commented on #283
​​
Dear Trung,

Thank you very much for your kind and long message. I didn't expect that I
will receive a long message from you like this. I already read it
carefully. I respect your job board's principle  :"This job board aims to
curate only the *best companies* for the *best developers" . *Because you
use "only" words so that I can't say anything right now. You already have
your target market an

[2016-08-12 07:59] joneslee85 commented on #283
Thanks again for the feedback

Please don't sorry about posting here, to me I think our job guideline is not clear enough on who we are targeting and who are not. We will enhance it to avoid confusion for job posters in the future.

I acknowledge your opinion on good/bad companies. Fundamentally we do not share the same view on what makes a company great. To us, majority of the cases great compani

[2016-08-12 09:05] GiauRecruitmentConsultant commented on #283
Dear Trung,

Thank you very much for your explain. I respect what you and your team
create a platform for great companies and great developers. I also
understand more about you and your group via your experiences sharing. I'm
really appreciated your time for explaining to me.

Even definition of how a great company being is different between us.
However, I see we have the same idea that sharing gr

[2016-08-12 14:01] chrisclarke904 opened #289 "Hello Health Group - Lead Web Developer - Saigon - FT"
## Company

As part of Hello Health Group, our goal is to lead Vietnam in the creation of healthcare knowledge, making trustworthy information accessible; empowering us all to live happier and healthier lives. In mid 2015, we formed a team that combined over 40 years of experience in internet venture building,
branding & marketing and healthcare. We successfully launched our first platform in Viet

[2016-08-15 04:33] lomojp commented on #286
Dear Mr Trung,

Thank you so much for your check and advise.
Actually, I often use Japanese bot English, so maybe my English is not
good, especially on IT words.
I've revised my post, so pls kindly re-check and support.

Thanks you so much!

Thanks for your help and corporation so far!!!

[image: PIXTA VIETNAM Co.,Ltd] <https://www.pixtastock.com/>

Lien Nguyen / GA_HR Department
lien.nguyenthuy@p

[2016-08-15 06:52] joneslee85 commented on #286
@lomojp please revise:

* `$ 500-$1000`, remove the space after `$` sign and ensure you specify the `USD` at the end of the sentence
* typo `Develope`

[2016-08-15 11:27] leovinh opened #290 "Mobile Developer (React Native)"
## Company

Cititech is the Vietnam leader in innovative technology that leads the hospitality industry. We are always looking for bright and driven people who have a penchant for technology and want to hone their skills. If you are interested in challenging work, being part of Cititech team, and solving complex problems through technology.

## Location

* Saigon, Vietnam

## Salary Expectation

*

[2016-08-16 03:21] VoNam commented on #277
@kfitsdnbhd I sent you an email but haven't heard back from you

[2016-08-17 06:15] TaPhuocHai opened #291 "Kitfe - Ruby on rails Developer - Saigon - FT"
## Company

Kitfe là một startup về food delivery.
Kitfe mang đến bữa ăn ngon, chất lượng cho những con người linh hoạt, năng động.

## Location
* Saigon, Vietnam
* Bụi, hơn 1000 địa điểm quán cafe bất kỳ anh em có thể lựa chọn

## Salary Expectation

* Thỏa thuận
* Kinh nghiệm càng nhiều lương càng cao thôi nhé

## Requirements

* Ruby
* Bootstrap/HTML/CSS
* PostgreSQL
* Yêu cầu tối thiếu 2 năm k

[2016-08-17 07:29] vanha224 opened #292 "Senior PHP developer ( Salary up to 2000$)"
## Location

* Ha Noi, Vietnam
Requirements:

•	At least 3 years of experience in PHP coding
•	Excellent in object-oriented programing knowledge and experience
•	Understand and can implement various structure and design patterns
•	Up to date with current PHP programming practices and principles
•	Good experience with popular PHP frameworks
•	Can design the structure and optimize the code for high

[2016-08-17 10:18] joneslee85 commented on #292
@vanha224 thanks for submitting the job with us. Please revise the format of the post to ensure it meets our [guideline](https://github.com/awesome-jobs/vietnam/blob/master/README.md). Should no amendment is to be made in 2 days, the job post will be removed.

[2016-08-17 10:20] joneslee85 commented on #290
@leovinh thanks for submitting the job with us. Please revise the format of the post to ensure it meets our [guideline](https://github.com/awesome-jobs/vietnam/blob/master/README.md).

[2016-08-17 10:22] joneslee85 commented on #291
@TaPhuocHai Thanks for posting with us. FYI, we've just updated our guideline and we now only accept English job post. Please revise the job in accordance to our gudeline.

[2016-08-17 10:58] joneslee85 commented on #286
There is no amendment in the last 2 days, I am closing this job.

[2016-08-17 10:58] #286 closed

[2016-08-22 08:51] chinh7 opened #293 "QUOINE - Ruby on Rails - Saigon - FT"
We are looking for kick-ass engineers to join our engineering team here in Ho Chi Minh.
_If you never work with Ruby on Rails but you are confident that you are a quick learner with strong development background, don't hesitate to apply._

## Company
QUOINE is a Financial Technology (Fintech) company headquartered in Japan. Our core product is a highly sophisticated crypto-currencies trading platf

[2016-08-22 08:54] chinh7 opened #294 "QUOINE - Web Frontend - Saigon - FT"
We are looking for kick-ass engineers to join our engineering team here in Ho Chi Minh.

## Company
QUOINE is a Financial Technology (Fintech) company headquartered in Japan. Our core product is a highly sophisticated crypto-currencies trading platform supporting up to 10 fiat currencies and 2 crypto-currencies. We are a top global crypto-currencies exchange with the latest funding of $20M. Our ul

[2016-08-22 08:57] chinh7 opened #295 "QUOINE - Mobile (iOS, Android) - Saigon - FT"
We are looking for kick-ass engineers to join our engineering team here in Ho Chi Minh.

## Company
QUOINE is a Financial Technology (Fintech) company headquartered in Japan. Our core product is a highly sophisticated crypto-currencies trading platform supporting up to 10 fiat currencies and 2 crypto-currencies. We are a top global crypto-currencies exchange with the latest funding of $20M. Our ul

[2016-08-24 01:53] kentnguyen commented on #257
@joneslee85 we renewed our posting, could you help to add Junior tag as well?

[2016-08-24 02:26] joneslee85 commented on #257
@kentnguyen updated

[2016-08-24 02:27] joneslee85 commented on #291
I am closing this job now as no amendment made for one week

[2016-08-24 02:27] #291 closed

[2016-08-24 02:27] joneslee85 commented on #290
I am closing this job post as no amendment has been made

[2016-08-24 02:27] #290 closed

[2016-08-24 02:27] joneslee85 commented on #292
I am closing this job post as no amendment has been made

[2016-08-24 02:27] #292 closed

[2016-08-24 02:30] joneslee85 commented on #293
@chinh7 thanks for posting with us. Please revise the formats:

* Bullet points of _Requirements_ and _Responsibilities_ section
* The title lack the position title, is it a developer? what level is it? Senior? Junior? or both?

[2016-08-24 02:30] joneslee85 commented on #294
thanks for posting with us. Please revise the formats:

Bullet points of Requirements and Responsibilities section
The title lack the position title, is it a developer? what level is it? Senior? Junior? or both?

[2016-08-24 02:31] joneslee85 commented on #295
thanks for posting with us. Please revise the formats:

Bullet points of Requirements and Responsibilities section
The title lack the position title, is it a developer? what level is it? Senior? Junior? or both?

[2016-08-28 09:44] webgago opened #296 "Ruby Yoda - 2 Senior Ruby Developers - Saigon - FT"
## Location

* Saigon, Vietnam

### Ruby Yoda Vietnam

We are small and young yet. We solve problems of our clients and build own startups.
These positions are for our startup in logistics market (worldwide).

## Salary Expectation

* $1600/month, negotiable (really depends on your skills)

## Requirements
* Ruby
* PostgreSQL
* TDD/BDD, know how to write good specs.
* English proficiency

### Resp

[2016-08-28 09:48] webgago opened #297 "Ruby Yoda - 2 Senior JS Developers - Saigon - FT"
## Location

* Saigon, Vietnam

### Ruby Yoda Vietnam
We are small and young yet. We solve problems of our clients and build own startups.
These positions are for our startup in logistics market (worldwide).

## Salary Expectation

* $1600/month, negotiable (really depends on your skills)

## Requirements
* Javascript
* ReactJS
* TDD/BDD, know how to write good specs.
* Know how to test applicatio

[2016-08-30 04:47] Rosedao03 opened #298 "Golden Owl - Fresher/junior trainee ruby on rails - Saigon - FT"
## Location

* Saigon, Vietnam
* Full time

## Salary Expectation

* up to $500/month hoặc thương lượng

## Requirements
* Tốt nghiệp chuyên ngành CNTT hoặc sinh viên mới ra trường, Công nghệ phần mềm,...
* Biết về Ruby/Javascript
* Tư duy logic tốt, nắm được căn bản lập trình hướng đối tượng
* Sáng tạo, cẩn thận, ham học hỏi, yêu thích và đam mê phát triển sản phẩm

### Ideally

* Experience with

[2016-08-30 05:36] joneslee85 commented on #298
@Rosedao03 We've revise our guideline, job post now must be written in English. Please feel free to submit a new one.

[2016-08-30 05:36] #298 closed

[2016-08-30 05:37] joneslee85 commented on #295
No amendment made within 2 days. Closing.

[2016-08-30 05:37] #295 closed

[2016-08-30 05:37] joneslee85 commented on #294
No amendment made within 2 days. Closing.

[2016-08-30 05:37] #294 closed

[2016-08-30 05:37] joneslee85 commented on #293
No amendment made within 2 days. Closing.

[2016-08-30 05:37] #293 closed

[2016-08-30 05:42] joneslee85 commented on #296
@webgago thanks for posting with us. Are you the HR representative of Ruby Yoda? Besides, wondering if this FB page https://www.facebook.com/rubyyodavietnam/ is your company? Would you be able to provide the product details?

[2016-08-30 07:41] Rosedao03 opened #299 "Golden Owl - Junior trainee Ruby on Rails/JavaScript - Saigon - FT"
## Intro

Golden Owl is  a HCMC-Singapore joint venture group focusing on helping customers turn their ideas into websites. Our customers' satisfaction will always be our priority!
We are a young, responsible, and professional team based in Ho Chi Minh City, Vietnam, specializing in web and mobile development with the latest Ruby on Rails and JavaScript technologies. We are a group of creative exp

[2016-08-30 07:47] joneslee85 commented on #299
@Rosedao03 looks okay. Please make following amendment:

* What is Golden Owl? Can you please do a section intro?
* the `#Contact` header is on wrong line
* terminology terms should be respected such as `reactjs/angular/ember` must be changed to `ReactJS/AngularJS/EmberJS`
* remove the space after `/` as in `Fresher/ gradudated`
* `s/ruby on rails/Ruby on Rails` in the title
* the word `fresher/ju

[2016-08-30 08:16] Rosedao03 commented on #299
done @joneslee85 please help me check if there is any problem :)
thanks!!!

[2016-08-30 08:18] joneslee85 commented on #299
* `s/Javascript/JavaScript` (for every occurrences)

[2016-08-30 10:32] webgago commented on #296
@joneslee85 Yes, this is the page. I'm the CEO. We just starting and that's why there is no website yet.

The product is a web platform in logistic market: API, Mobile Apps, Web App.

[2016-09-05 02:53] Sotatek-TuyenLuu opened #300 "SotaTek - Java Developers - Hanoi - FT"
## Location

SotaTek
4th Floor, Alpha building, 54 Luu Huu Phuoc, My Dinh, Nam Tu Liem, Hanoi
http://sotatek.com
recruit@sotatek.com
## Intro

SotaTek is a global software outsourcing company and mobile game publisher providing innovative solutions for clients around the globe. We are a young, responsible, and professional team based in Hanoi who build full-stack solutions for our customers in mul

[2016-09-06 08:40] pangarajobs opened #301 "Pangara - iOS/Android Developer (freelancer) - Remote - PT"
## About
Pangara is a freelancer platform that connects the top 2% of the freelancer network in Vietnam with clients worldwide. Pangara uses a customized, unique, qualification process to gather and offer only the best of the best of the huge freelancer network in Vietnam. Our founders are Swedish, and Pangara currently have offices in Saigon and Malmö.

## Location

* Remote

## Project Backgroun

[2016-09-06 08:47] #209 closed

[2016-09-06 08:47] #208 closed

[2016-09-06 08:53] PangaraTeam opened #302 "Pangara - Javascript Developer (freelancer) - Remote - PT"
## About
Pangara is a freelancer platform that connects the top 2% of the freelancer network in Vietnam with clients worldwide. Pangara uses a customized, unique, qualification process to gather and offer only the best of the best of the huge freelancer network in Vietnam. Our founders are Swedish, and Pangara currently have offices in Saigon and Malmö.

## Location

* Remote

## Project Backgroun

[2016-09-07 10:38] pangarajobs opened #303 "Pangara - Data Scraping and Visualization (freelancer) - Remote - PT"
## About
Pangara is a freelancer platform that connects the top 2% of the freelancer network in Vietnam with clients worldwide. Pangara uses a customized, unique, qualification process to gather and offer only the best of the best of the huge freelancer network in Vietnam. Our founders are Swedish, and Pangara currently have offices in Saigon and Malmö.

## Location

* Remote

## Project Backgroun

[2016-09-07 11:15] zweedao opened #304 "e27.co - Full-stack Software Engineer - Saigon - FT"
<img src="https://cloud.githubusercontent.com/assets/3747942/18309117/654bba8a-752a-11e6-8972-c4de60e6b9d7.png" width="400">

https://e27.co/

**e27.co** is a Singapore media startup focusing on growing Asia’s tech startup ecosystem.

We report on tech startup news, trends and personalities relevant to startup communities in Asia and also organize the much-celebrated [Echelon Asia](https://e27.co/

[2016-09-07 11:18] zweedao opened #305 "e27.co - UX/UI Designer / Developer - Saigon - FT"
<img src="https://cloud.githubusercontent.com/assets/3747942/18309117/654bba8a-752a-11e6-8972-c4de60e6b9d7.png" width="400">

https://e27.co/

**e27.co** is a Singapore media startup focusing on growing Asia’s tech startup ecosystem.

We report on tech startup news, trends and personalities relevant to startup communities in Asia and also organize the much-celebrated [Echelon Asia](https://e27.co/

[2016-09-09 04:44] zweedao commented on #304
@joneslee85 I would suggest to add label PHP & mysql first, since those are compulsory. The rest of languages are optional.

[2016-09-12 06:35] nnluukhtn opened #306 "Hipvan - Software Engineer (Ruby on Rails, PostgreSQL) - Saigon - FT"
## Location
- Saigon, Vietnam
## Salary Expectation
- 1,000 USD - 3,000 USD
## What We're Looking For
- Talented, hardworking and passionate software engineers to join our team.
- Have an interest in Ecommerce.
## Requirements
- At least 2 years of working experience.
- Strong OO design and analysis.
- Strong in Data Structures and Algorithms.
- Familiar with database optimization.
- Familiar with

[2016-09-12 10:12] nnluukhtn commented on #306
@joneslee85 please help me to assign labels to this issue

[2016-09-13 10:38] pangarajobs opened #307 "Pangara - HTML5/JS Developer (freelancer) - Remote - PT"
## About

Pangara is a freelancer platform that connects the top 2% of the freelancer network in Vietnam with clients worldwide. Pangara uses a customized, unique, qualification process to gather and offer only the best of the best of the huge freelancer network in Vietnam. Our founders are Swedish, and Pangara currently have offices in Saigon and Malmö.
## Location
- Remote
## Project Background

[2016-09-14 17:06] cthai721 opened #308 "FactoryFinder - Front-end developer - Hanoi - FT"
## Location

Hanoi, Vietnam
## About us

Hello everyone, we are a B2B startup, based in Helsinki, Finland. Currently, our company has a good foundation in Europe and especially, in Nordic countries. As part of our expansion plan to the US (Silicon Valley, etc), we are looking for talented Front-end Developers to work with a team in Hanoi.
## Requirements
- HTML/CSS
- Javascript (ES6)
- Web accessi

[2016-09-15 08:35] phongnguyensdr opened #309 "[HCM] Back-end Developer (Ruby) | $400 - $1000"
* YOMI STUDIO - Binh Thanh, HCM

*Salary: $400-$1000

*Experience Level: 2 Year

We’re looking for developers who build products, not just applications, to grow client’s businesses. We don’t receive requirements from our clients, but problems that need to be solved together.

Job Description:

Helping crack touch business problems.
Deliver highly scalable and reliable business applications.
Ensure

[2016-09-15 11:28] hieuk09 commented on #309
Hi @phongnguyensdr, the format of this job post is not comply to our [rule](https://github.com/awesome-jobs/vietnam), could you please fix it? If the post is not amended within 2 days, it'll be closed.

[2016-09-16 01:36] huydx commented on #297
@webgago can you add more information about your company?

[2016-09-16 01:38] huydx commented on #303
@PangaraTeam can you add more information about needed language, experience, and fix the title to contain location as well. Thanks

[2016-09-16 04:20] cuongnm2nf opened #310 "2NF - Junior Ruby (1+ year EXP) - Hà Nội - FT"
## Location

* HaNoi, Vietnam
* Full time in office

## Salary Expectation

* Negotiable ( You will love it )

## Requirements
* Ruby
* RailsFramework
* MySQL
* 1+ years Software Engineering experience

### Contact
9th Floor, 3A Building, 82 Lane, Duy Tan Street, Cau Giay District, Ha Noi City.
Email: thuytt@2nf.com.vn
Mobile number: 04 3839 8714 ( 8h - 18h )

[2016-09-16 09:37] hiendinhngoc commented on #310
I didn't see any description about your company :(

[2016-09-16 09:42] cuongnm2nf commented on #310
This is our website www.2nf.com.vn, www.2nf.vn. You can call to our mobile number to get details.
Thank you very much

[2016-09-16 11:17] webgago commented on #297
@huydx We are small and young yet. We solve problems of our clients and build own startups.

[2016-09-16 13:31] hieuk09 commented on #310
Hi @cuongnm2nf,

Thanks for using our board. I apologize about nitpicking detail, but here we must ensure the quality of job post. Therefore, could you please help us modifying these detail:

- Please add a company description
- Remove `(1+ EXP)` from the title
- Replace `Junior Ruby` with `Junior Ruby Developer`

If the post is not amended in 2 days, it will be closed.

[2016-09-19 03:48] gill502 opened #311 "C.A.N Group - Backend Developer - Ho Chi Minh City - FT"
[CAN backend developer Recruitment .docx](https://github.com/awesome-jobs/vietnam/files/479198/CAN.backend.developer.Recruitment.docx)
## Location
- 91 Nguyen Huu Canh Street, Binh Thanh District, Ho Chi Minh City.
## Salary:
- 650 USD – 900 USD (depending on level of skills and fulfillment of requirements)
## Requirements
- Working in Ruby on rails
- Laravel, Wordpress knowledge is plus
- Solid u

[2016-09-19 03:48] namdaoviet opened #312 "2359 Media - Senior iOS Developer - Ho Chi Minh - FT"
## Location
- Saigon, Vietnam
### 2359 Media

In less than 4 years, we built an award-winning, multinational mobile-first studio. It has been an adventure best described as a coherent and chaotic innovation. One that would not be possible without the ingenuity of our people.
We still have the same dream. To create business value through digital experience engineering.
Those who work here describe

[2016-09-19 03:50] joneslee85 commented on #297
@webgago can you please update your description or at least have your public identity like Facebook page or website correctly done? We could not approve a job post that is lacking in details.

[2016-09-19 03:51] joneslee85 commented on #309
Closed. No amendment made after 2 days.

[2016-09-19 03:51] #309 closed

[2016-09-19 03:54] joneslee85 commented on #312
Thanks for posting with us. Can you please revise the format of the job title to ensure all abbreviations met our guideline?

[2016-09-19 03:55] joneslee85 commented on #310
Closed. No amendment were made.

[2016-09-19 03:55] #310 closed

[2016-09-19 03:59] namdaoviet commented on #312
@joneslee85 thanks. We revised that.

[2016-09-19 05:11] namdaoviet opened #313 "2359 Media - Senior Ruby on Rails Developer - Ho Chi Minh - FT"
## Location
- Saigon, Vietnam
### 2359 Media

In less than 4 years, we built an award-winning, multinational mobile-first studio. It has been an adventure best described as a coherent and chaotic innovation. One that would not be possible without the ingenuity of our people.
We still have the same dream. To create business value through digital experience engineering.
Those who work here describe

[2016-09-19 06:15] webgago commented on #297
@joneslee85 updated. thanks for the feedback!

[2016-09-19 06:20] webgago commented on #296
@joneslee85 updated as well

[2016-09-20 02:38] SentifiHiringTeam opened #314 "Sentifi - Service Desk Support - HCMC - FT"
![30796](https://cloud.githubusercontent.com/assets/20198939/16440290/ae987ee8-3dea-11e6-8b33-f797e8dc5bbf.jpg)
_The Swiss fintech company Sentifi is a global leader in Crowd-Intelligence for financial markets. Sentifi’s big data and artificial intelligence based technology delivers insightful analysis helping millions of investors to be better informed and take better investment decisions.
Our fa

[2016-09-20 02:39] SentifiHiringTeam commented on #314
Hello admin, Please add hastag i.e "devops, it support, Linux, English skill". Thanks a lot.

[2016-09-20 03:00] SentifiHiringTeam opened #315 "Sentifi - Senior DevOps - HCMC - FT"
![30796](https://cloud.githubusercontent.com/assets/20198939/16440290/ae987ee8-3dea-11e6-8b33-f797e8dc5bbf.jpg)
_The Swiss fintech company Sentifi is a global leader in Crowd-Intelligence for financial markets. Sentifi’s big data and artificial intelligence based technology delivers insightful analysis helping millions of investors to be better informed and take better investment decisions.
Our fa

[2016-09-20 03:02] SentifiHiringTeam commented on #315
Hello admin, please help add "DevOps, Linux, English, System admin" as the tag for the post. Thanks

[2016-09-20 03:32] SentifiHiringTeam opened #316 "Sentifi - Mobile Senior Engineer (React Native) - HCMC - FT"
![30796](https://cloud.githubusercontent.com/assets/20198939/16440290/ae987ee8-3dea-11e6-8b33-f797e8dc5bbf.jpg)
_The Swiss fintech company Sentifi is a global leader in Crowd-Intelligence for financial markets. Sentifi’s big data and artificial intelligence based technology delivers insightful analysis helping millions of investors to be better informed and take better investment decisions.
Our fa

[2016-09-20 03:32] SentifiHiringTeam commented on #316
Please help add tag i.e "Mobile, React Native, iOs, Android". Thanks

[2016-09-20 03:52] longkt90 commented on #315
@SentifiHiringTeam please check the sentence bellow, should be 2 lines?
[code]

[2016-09-20 04:02] hieuk09 commented on #314
@SentifiHiringTeam: Could you reindent the line below?

This line should not be a bullet point.

[2016-09-20 04:03] SentifiHiringTeam commented on #315
Checked and edited already. Thanks

[2016-09-20 04:04] SentifiHiringTeam commented on #314
Done in editing

[2016-09-20 04:31] khoiln opened #317 "Planday - Senior iOS Developer - Hanoi - FT"
## Location
- Hanoi, Vietnam
- Fulltime
## Salary Expectation
- Up to 2000 USD / month
## What you'll be doing
- Working in an international environment.
- Be part of a strong creative cross-functional product team, designing, building and testing new functionality.
- Collaborate with cross-functional teams to define, design, and ship new features.
- Creating clean, concise, robust, maintainable c

[2016-09-20 04:32] khoiln commented on #317
@huydx Please help add tag i.e "Mobile, iOs". Thanks alot

[2016-09-21 09:04] PangaraTeam opened #318 "Pangara - Javascript/React Developer (freelancer) - Remote/Saigon - PT"
## About
Pangara is a freelancer platform that connects the top 2% of the freelancer network in Vietnam with clients worldwide. Pangara uses a customized, unique, qualification process to gather and offer only the best of the best of the huge freelancer network in Vietnam. Our founders are Swedish, and Pangara currently have offices in Saigon and Malmö.

## Location

* Partly Remote as ***you will

[2016-09-21 09:09] PangaraTeam opened #319 "Pangara - PHP Developer Freelancers - Remote/Saigon - PT"
## About
Pangara is a freelancer platform that connects the top 2% of the freelancer network in Vietnam with clients worldwide. Pangara uses a customized, unique, qualification process to gather and offer only the best of the best of the huge freelancer network in Vietnam. Our founders are Swedish, and Pangara currently have offices in Saigon and Malmö.

## Location

* Partly Remote as ***you will

[2016-09-21 09:18] PangaraTeam opened #320 "Pangara - Automation QA Engineer Freelancers - Remote/Saigon - PT"
## About
Pangara is a freelancer platform that connects the top 2% of the freelancer network in Vietnam with clients worldwide. Pangara uses a customized, unique, qualification process to gather and offer only the best of the best of the huge freelancer network in Vietnam. Our founders are Swedish, and Pangara currently have offices in Saigon and Malmö.

## Location

* Partly Remote as ***you will

[2016-09-21 09:38] PangaraTeam opened #321 "Pangara - Technical Writer (Freelancer) - Remote/Saigon - PT"
## About
Pangara is a freelancer platform that connects the top 2% of the freelancer network in Vietnam with clients worldwide. Pangara uses a customized, unique, qualification process to gather and offer only the best of the best of the huge freelancer network in Vietnam. Our founders are Swedish, and Pangara currently have offices in Saigon and Malmö.

## Location

* Partly Remote as ***you will

[2016-09-21 09:41] PangaraTeam opened #322 "Pangara - Senior DBA (Freelancer) - Remote/Saigon - PT"
## About
Pangara is a freelancer platform that connects the top 2% of the freelancer network in Vietnam with clients worldwide. Pangara uses a customized, unique, qualification process to gather and offer only the best of the best of the huge freelancer network in Vietnam. Our founders are Swedish, and Pangara currently have offices in Saigon and Malmö.
## Location

* Partly Remote as ***you will

[2016-09-21 09:42] #210 closed

[2016-09-22 07:31] FutureworkzVietnam opened #323 "Futureworkz - Senior Ruby on Rails Developer - Saigon - FT"
### Location

184/17 Dien Bien Phu St, Ward. 17, Binh Thanh District, HCMC
### Salary

$1,200 - $1,800
### Introduction

Futureworkz is a Singapore-based Web Design company that specialized in Agile development with (mainly) Ruby on Rails. We are a strong vibrant team of designers and developers. All our projects are mainly from Singapore. We are a totally geeky company that loves coding and desig

[2016-09-23 07:25] s123121 opened #324 "AgeCode - Back-end Developer - Saigon - FT"
**The world need more innovators.**

So we built AgeCode. We set out to build AgeCode not just as a company but as a innovator hub.
And now, we need more innovators like you, who always interested in creating elegant/state of the art solutions by incredible software development skill. This is your chance to work with challenge lovers, grow your skills, and make an impact
## Location

District 1, H

[2016-09-23 08:45] Hanaxuchi opened #325 "FSOFT - Ruby on Rails Team Lead - HCM - FT"
Company profile

FPT Software - the Software Powerhouse
•	Vietnam's largest and one of the fastest growing software outsourcing companies.
•	Over 6,000 software outsourcing projects and a total volume of 2.5 million man-days in the last 10 years.
•	A broad presence in diverse global markets.
•	Specialist in shaping world-class networks of global delivery centers.

http://fpt-software.com/About%20U

[2016-09-23 09:18] binhngoc17 opened #326 "honestbee - Software Engineer (Ruby) - Singapore / Saigon - FT"
## Location
- Saigon, Vietnam
- Singapore, Singapore
## Salary Expectation
- Singapore: $4000 SGD+/month or negotiable
- Vietnam: $1300 USD +/month for junior position & $2100 USD+/month for senior position
## Requirements
### Backend
- Ruby
- PostgreSQL
- 2+ years Software Engineering experience
### Android
- Java
## Skills
- Good communication in English
- Ruby programming
### Ideal candidate
-

[2016-09-23 10:25] longkt90 commented on #326
is it in Singapore dollar or USD? @binhngoc17

[2016-09-23 10:26] binhngoc17 commented on #326
It is in Singapore dollar

[2016-09-23 10:27] longkt90 commented on #326
That's a huge different. I think it's better updated in the JD, for Vietnamese if you dont specify, they will understand as USD

[2016-09-23 10:28] binhngoc17 commented on #326
Hey @longkt90 Let me specify it

[2016-09-23 14:57] hieuk09 commented on #325
@Hanaxuchi: Could you add some detail in the responsibilities section?

[2016-09-23 15:13] hieuk09 commented on #326
@binhngoc17: Could you change the title to comply with our format?

[2016-09-26 03:19] binhngoc17 commented on #326
@hieuk09 thank you for your suggestion! Updated

[2016-09-26 04:08] joneslee85 commented on #325
@Hanaxuchi can you please revise the format of bullet points? Use `*` instead of `•`

[2016-09-26 04:18] TaPhuocHai opened #327 "Kitfe - Ruby on rails Developer - HCMC - FT"
## Location
- Saigon, Vietnam
- Fulltime
## Salary Expectation
- Up to $1000/month
## Requirements
- Pride in readable, well-designed, well-tested software
- Professional experience with Ruby and Ruby on Rails (6+ months)
- Experience with TDD environments (RSpec)
- Experience with relational databases (PostGreSQL) and key-value stores (Memcache, Redis)
## Nice to haves
- Experience with front-end

[2016-09-26 04:58] huynhquancam commented on #317
@khoiln Thanks for posting! Could you please specify more details about Planday?

For example this is a good company description: https://github.com/awesome-jobs/vietnam/issues/132

[2016-09-26 07:26] gill502 opened #328 "C.A.N Group - Ruby on Rail Developer Internship - Ho Chi Minh City - FT"
## Benefit
- Joining CAN Group, you will get to immerse in a young, dynamic and professional startup environment. Be able to learn programming expertise from our Code team and UX/UI design team.
- Challenging yourself with international clients from Singapore, Korea, UK, USA, European and major multinational corporations like Recpic, Krowdpop etc …
- Open and honest culture where people are valued

[2016-09-26 12:22] hieuk09 commented on #303
Hi @PangaraTeam, could you please update the job post to comply with our template?

[2016-09-26 12:22] hieuk09 commented on #320
Hi @PangaraTeam, could you please update the job post to comply with our template?

[2016-09-26 12:22] hieuk09 commented on #302
Hi @PangaraTeam, could you please update the job post to comply with our template?

[2016-09-26 12:25] hieuk09 commented on #316
@SentifiHiringTeam: sorry for the delay, but could you change the part

to normal text without the bullet point.

[2016-09-26 12:27] hieuk09 commented on #316
The name of the section should be strictly complied to our template as well (e.g. change `Your nice-to-haves` to `Ideally `)

[2016-09-26 12:27] hieuk09 commented on #318
Hi @PangaraTeam, could you please update the job post to comply with our template?

[2016-09-26 12:27] hieuk09 commented on #319
Hi @PangaraTeam, could you please update the job post to comply with our template?

[2016-09-26 12:28] hieuk09 commented on #322
Hi @PangaraTeam, could you please update the job post to comply with our template?

[2016-09-26 12:28] hieuk09 commented on #321
Hi @PangaraTeam, could you please update the job post to comply with our template?

[2016-09-26 12:29] hieuk09 commented on #311
Hi @gill502, could you move the file to the top of the job post?

[2016-09-26 12:30] hieuk09 commented on #301
Hi @PangaraTeam, could you please update the job post to comply with our template?

[2016-09-26 23:48] #297 closed

[2016-09-26 23:54] joneslee85 commented on #297
@webgago I would like to let you know that I decide to close this job post instead because it is still lacking what we consider a good quality post; firstly there is no proper website setup but a dummy one, if your company decide to use FB as homepage, you could redirect the domain to the homepage easily. I just don't feel your firm is a good one if I were a candidate, please excuse me if this off

[2016-09-27 02:03] SentifiHiringTeam commented on #316
Ok

I'll make a change on the job post.

Best Regards,

[image: logo] <https://sentifi.com/>
Huyen Nguyen - Recruitment Specialist
----------------------

Sentifi Technology Hub Vietnam
Sentifi Group AG - Financial Market Signals from the Crowd
e: huyen.nguyen@sentifi.com |  LinkedIn Profile
<https://vn.linkedin.com/in/xuanhuyen3011>
f: +84  987 939 161
Sentifi Vietnam LLC, 77 Tran Nhan Ton, Dist

[2016-09-27 02:18] PhamQuiToan opened #329 "Backend developers (Ruby on rails,PHP,Javascript) - gumi Vietnam"
We are looking for experienced Developers with experience in Ruby on Rails or PHP
This position will play the primary role to deliver high-quality projects to our customers and to boost our development team to a higher level. This is a key role in achieving further growth and requires a bright, focused and creative mind to do.

## Require Skills
- Experience with Ruby On Rails or PHP development a

[2016-09-27 02:27] joneslee85 commented on #329
@PhamQuiToan please revise your post, we do not allow one post to cover mixture of programming languages. Please split them into separate post and provide relevant details in accordance. Furthermore, the format of title does not comply with our guideline. Lastly, please have a section to introduce about your company and type of projects.

Few nitpicks, `Speaking Japanese, seriously` - what do you

[2016-09-27 02:27] #329 closed

[2016-09-27 03:25] gill502 commented on #311
@hieuk09 I did it. Thank for reminding me. :)

[2016-09-27 03:59] PhamQuiToan commented on #329
I have just updated as your comment.
Please check it again.

[2016-09-27 04:54] nnti3n commented on #269
Is the salary only limit at $350-$500

[2016-09-28 01:54] joneslee85 commented on #296
Please see https://github.com/awesome-jobs/vietnam/issues/297

[2016-09-28 01:54] #296 closed

[2016-09-28 03:14] PangaraTeam commented on #322
@hieuk09 We just updated, thanks for your inform.

[2016-09-28 03:57] nnti3n commented on #171
My email couldn't reach ttla@framco.se

[2016-09-28 04:06] hieubkcse commented on #269
@nnti3n for Fresher Web Developer

[2016-09-28 04:11] #273 closed

[2016-09-28 04:11] #269 closed

[2016-09-28 04:11] #265 closed

[2016-09-28 04:11] #264 closed

[2016-09-28 04:11] #261 closed

[2016-09-28 05:01] PangaraTeam commented on #301
@hieuk09 We just updated. Thanks for your inform.

[2016-09-28 05:01] PangaraTeam commented on #302
@hieuk09 We just updated. Thanks for your inform.

[2016-09-28 05:29] joneslee85 commented on #301
@PangaraTeam thanks for posting with us. Can you please clarify if this is Pangara project or of Pangara's clients?

[2016-09-28 05:30] joneslee85 commented on #303
@PangaraTeam Is this for Pangara or for the clients of Pangara?

[2016-09-28 05:32] joneslee85 commented on #320
Closed. We do not allow jobs that is posted on someone's behalf.

[2016-09-28 05:32] #320 closed

[2016-09-28 05:33] joneslee85 commented on #321
Closed. We do not allow this freelancing model here. Thanks for your understanding.

[2016-09-28 05:33] #321 closed

[2016-09-28 05:34] joneslee85 commented on #322
Closed. We do not allow this freelancing model here. Thanks for your understanding.

[2016-09-28 05:34] #322 closed

[2016-09-28 05:34] joneslee85 commented on #319
Closed. We do not allow this freelancing model here. Thanks for your understanding.

[2016-09-28 05:34] #319 closed

[2016-09-28 05:34] joneslee85 commented on #302
Closed. We do not allow this freelancing model here. Thanks for your understanding.

[2016-09-28 05:34] #302 closed

[2016-09-28 05:35] joneslee85 commented on #318
Closed. We do not allow this freelancing model here. Thanks for your understanding.

[2016-09-28 05:35] #318 closed

[2016-09-28 05:36] joneslee85 commented on #325
Closed. No amendment after 2 days.

[2016-09-28 05:36] #325 closed

[2016-09-28 05:37] joneslee85 commented on #262
@nguyenmai2911 Hi, I did not misunderstand you. I requested you revise the bullet points format on 21st July but after 2 days I haven't seen you addressed the request.

[2016-09-28 07:18] pangarajobs commented on #301
It's one of our client's project. So you guys do not allow freelance job posts here?

[2016-09-28 08:03] joneslee85 commented on #301
@pangarajobs no, we don't.

[2016-09-28 08:18] #301 closed

[2016-09-28 08:44] lethanh273 commented on #313
adfafd

[2016-09-28 09:05] joneslee85 commented on #313
@namdaoviet can you please update the formating for the 2nd level bullet point as in `Strong working knowledge in: o .NET/Ruby, Ruby on Rails, HTML, Javascript, CSS (SASS), Coffeescript o Databases: PostgreSQL, MySQL, Redis/MongoDB, etc. o Cloud Service: AWS with EC2, RDS, S3, Heroku, etc.`

[2016-09-28 09:14] namdaoviet commented on #313
@joneslee85: done. thank you

[2016-09-29 03:42] 8BIT-ROCKSTARS opened #330 "8 Bit Rockstars - Magento Developer - Saigon - FT"
![8BR](http://8bitrockr.com/img/logo_w.png)
# 8 BIT ROCKSTARS
Floor 8th, Vincom B, 72 Le Thanh Ton, Ben Nghe Ward, Dist.1, HCMC
http://8bitrockr.com/
hr@8bitrockr.com

Email CV to **_hr@8bitrockr.com_**

## Salary

**_NEGOTIABLE && VERY ATTRACTIVE_**

## Job Description

You will work as a Developer in a small team with exciting international startups, supported by a local Project Manager.

As our

[2016-09-29 03:53] #303 closed

[2016-09-29 03:55] angiedang opened #331 "Leflair - AngularJS / NodeJS Developer - Saigon - FT"
![img_7142-smallersize](https://cloud.githubusercontent.com/assets/22335722/18940837/e77fa266-8635-11e6-866b-f1443a01b828.jpg)
## Location
- Saigon, Vietnam
## Salary Expectation
- $2000++/month
## Requirements
- Work with the CTO to build our ecommerce web site and management platform
- Implement site designs using HTML5, CSS3, Bootstrap, AngularJS
- Develop our backend APIs using Node.js
- Work

[2016-09-29 03:56] angiedang commented on #331
![img_7142-smallersize](https://cloud.githubusercontent.com/assets/22335722/18940548/45df62d6-8633-11e6-92fe-263e666443af.jpg)

[2016-09-29 04:13] joneslee85 commented on #331
@angiedang please put the photo in the original post

[2016-09-29 04:26] nguyenmai2911 commented on #262
Dear Trung,

I've just finished revised the bullet points format agains. If you still see the old one, just remove if you want.

[2016-09-29 07:17] chrisclarke904 opened #332 "Hello Health Group - Lead Designer - Saigon - FT"
## Company Profile

As part of Hello Health Group, our goal is to lead the World in the creation of healthcare knowledge,
making trustworthy information accessible; empowering us all to live happier and healthier lives. In mid
2015, we formed a team that combined over 40 years of experience in internet venture building,
branding & marketing and healthcare. We successfully launched our first platfo

[2016-10-02 08:22] trietphm opened #333 "Lozi - Senior Backend Developer - Saigon - FT"
If you may ask, Lozi is now one of the most lovable selling community in Vietnam. Lozi's mission is to lead you a happy life by selling out secondhand stuffs. We are built from scratch and now become the top-notch in Vietnam mobile market.

1 million is the recent number of people using Lozi. This figure is growing up rapidly day by day. That's why we need more people to help us write our next cha

[2016-10-04 09:09] yosiyuki opened #334 "Kaito Wings - Server side Engineer - Saigon - FT"
We are making sharing economy service for Japanese. In our service Japanese living in abroad help the other Japanese who want to do something in their city. We already have 30,000 users and increasing.

For quicker development of our service, We are looking for Rails programmers.
## Location
- Q1, Saigon, Vietnam
## Salary Expectation
- $500-1000/month or negotiable
## Requirements
### Must Have
-

[2016-10-04 10:05] lntan opened #335 "CodeBox Solutions - Ruby on Rails Developer - HCMC - FT"
## Location

HCMC, Vietnam. Not recruit the remote candidates.
## Salary Expectation

From $900 - $1300
## The Job

The full stack developer position will be required to be eager to work on both front-end and back-end side of an application, helping us developing new features, maintain the current version of the product which is fast-growing in the U.S market.
- Have the chance to work directly wi

[2016-10-04 10:29] RecruiterMaiNgo opened #336 "Terralogic - Sr Frontend Web - HCMC - FT"
Terralogic (former Infornam), headquartered in Silicon Valley, USA is an Engineering & IT services company. It with 1,000 employees and three development centers in US, India and Vietnam provides comprehensive solutions that are cost-effective, scalable and flexible.

The company serves global clients, among them technology pioneers and industry leaders. Our core team is composed of engineers and

[2016-10-05 03:44] 8BIT-ROCKSTARS opened #337 "8Bit Rockstars - Drupal Developer - Saigon - FT"
![8BR](http://8bitrockr.com/img/logo_w.png)
# 8 BIT ROCKSTARS
Floor 8th, Vincom B, 72 Le Thanh Ton, Ben Nghe Ward, Dist.1, HCMC
http://8bitrockr.com/
hr@8bitrockr.com

Email CV to **_hr@8bitrockr.com_**

## Salary

**_NEGOTIABLE && VERY ATTRACTIVE_**

## Job Description

You will work as a Drupal Developer in a small team with exciting international startups, supported by a local Project Manager.

[2016-10-05 10:32] angiedang opened #338 "Leflair - AngularJS / NodeJS Developer - Saigon - FT"
![img_7142-smallersize](https://cloud.githubusercontent.com/assets/22335722/19109942/c7887014-8b21-11e6-943e-034ced684ce9.jpg)
## Location
- Saigon, Vietnam
## About Us

Leflair is the go-to destination for smart buyers who wish to purchase branded and quality products at great price, while enjoying the same exclusive shopping experience as in luxury stores.
Leflair provides its members with exclu

[2016-10-05 16:02] joneslee85 commented on #338
Thanks for posting with us.

Please revise following:

* Bullet point format is not consistent, please use `*` for all
* Title does not conform with our guideline
* Please add a section on company intro
* Move photo to the top

[2016-10-05 16:07] joneslee85 commented on #336
Dear Mai, would you be able to provide a section on company intro?

[2016-10-06 04:47] RecruiterMaiNgo commented on #336
It's done. Thanks for reminding me.

[2016-10-06 08:04] angiedang commented on #338
@joneslee85 thank you, I have edited the post accordingly

[2016-10-13 02:18] nvquanghuy opened #339 "Holistics.io - Senior Software Engineer (Data Product) - Ruby - Saigon - Full-time"
<img src="https://cloud.githubusercontent.com/assets/519800/14778031/e5e5f83a-0afa-11e6-8270-de16f0387aa8.png" width="300">

https://www.holistics.io

_We're a BigData product startup looking for a full-stack engineer who wants an environment to grow and enjoys working in fast-growing startup environment. Both seniors, juniors and internship positions are available._

* _[Student Internship / Fres

[2016-10-14 07:00] HRVeNtura opened #340 "Ruby On Rails Developer - Attractive Salary $700 ~ $1500"
## Location

* Saigon, Vietnam
* 4F-A1 Mirae Business Center, 268 To Hien Thanh,
Ward 15, District 10, HCMC

## Salary Expectation

* $700 ~ $1500

## Requirements

* Programming experience with Ruby
* Experience with Ruby on Rails frameworks (provide intensive Ruby on Rails training course for skill-up)
* Experience with Database system (MySQL/MongoDB)
* Experience with Linux (Ubuntu, CentOS)

##

[2016-10-14 07:54] joneslee85 commented on #340
Thx for posting with us. Please make amend the title as it does not comply with our guideline.

[2016-10-16 05:40] vantran opened #341 "Lixibox.com - Ruby on Rails Engineer / Tech Lead - Saigon - FT"
## Location
- Saigon, Vietnam
## About Us

Lixibox is the online destination of choice for beauty. We use technology to provide the best advice from well-known beauty bloggers, help you keep up with trends that changes daily, and access to the best beauty products.
## Salary & Benefits
- Negotiable depending on your role & experience
- Health Insurance
- Office Lunch & Snack provided
## Requiremen

[2016-10-16 12:57] #305 closed

[2016-10-17 09:17] khacanh opened #342 "CodeLink - Full Stack Web Developer - Saigon - FT"
## Location

We are conveniently located on Truong Dinh at the border of District 1 and District 3, with easy access for all districts and a plentiful amount of awesome food and great coffee shops around the office
## About us

CodeLink is an innovative and design focused development studio made up of an international mix of Designers and Developers. We are a self-driven cross-functional team with

[2016-10-17 15:05] cthai721 opened #343 "Laberin - Front-end Developer/Internship - Hanoi - FT"
## Location

Hanoi, Vietnam
## About us

Hello everyone, we are a B2B startup, based in Helsinki, Finland. Our product is an end-to-end platform connecting the customers to their needs. Currently, our company has a good foundation in Europe and especially, in Nordic countries. As part of our expansion plan to the US (Silicon Valley, etc), we are looking for talented Front-end developer or Interns

[2016-10-18 05:06] joneslee85 commented on #340
Closed because there is no amendmend within 2 days

[2016-10-18 05:06] #340 closed

[2016-10-18 10:44] phucnd opened #344 "[HN] PHP Developer, up to 1000$ (negotiable)"
**Location**
SotaTek
4th Floor, Alpha building, 54 Luu Huu Phuoc, My Dinh, Nam Tu Liem, Hanoi
http://sotatek.com
recruit@sotatek.com

**Intro**
SotaTek is a global software outsourcing company and mobile game publisher providing innovative solutions for clients around the globe. We are a young, responsible, and professional team based in Hanoi who build full-stack solutions for our customers in mu

[2016-10-18 23:11] joneslee85 commented on #344
Please revise the title format to comply with our guideline.

[2016-10-19 08:50] PhamQuiToan opened #345 "gumi Vietnam - Ruby on rails Developer - HCM - FT"
## Company profile

![gumi Vietnam logo](http://gumiviet.com/gumiviet/wp-content/uploads/2013/08/logo.png)
- Gumi Vietnam is a Japanese base IT company strongly focus on making Web & Mobile application.
- gumi Vietnam is a branch of gumi Japan company established on Oct - 2012.
- We 're strongly focus on making Web & Mobile application, both in out-sourcing and in-house products.
- Here at gumi Vi

[2016-10-19 09:15] PhamQuiToan opened #346 "gumi Vietnam - PHP Developer - HCMC - FT"
## Company profile

![gumi Vietnam logo](http://gumiviet.com/gumiviet/wp-content/uploads/2013/08/logo.png)
- Gumi Vietnam is a Japanese base IT company strongly focus on making Web & Mobile application.
- gumi Vietnam is a branch of gumi Japan company established on Oct - 2012.
- We 're strongly focus on making Web & Mobile application, both in out-sourcing and in-house products.
- Here at gumi Vi

[2016-10-20 00:02] joneslee85 commented on #343
* `s/Javascript/JavaScript`
* Title does not comply with our guideline - please move the internship to the `Frontend Developer / Internship`
* The Intro section is pretty vague about what your company is on

[2016-10-20 06:07] cthai721 commented on #343
Thanks Joneslee85. It's updated now.

[2016-10-20 06:15] tuyendung opened #347 "Front End Developer"
## Location

* Ha Noi, Vietnam
* Remote

## Salary Expectation

* Up to 800$/month or negotiable

## Requirements
* HTML5, CSS3, Bootstrap
* client-side scripting and JavaScript frameworks
* mobile development and mobile-first responsive design
*
## Skills

### Must Have

### Ideally

* At least 3 years experience

### Responsibilities

Great power comes with great responsibilities!

### You’ll be

[2016-10-20 06:26] hieuk09 commented on #347
Hi @tuyendung, your job post is not complied to our guideline. Please revise the following:
- Title must be strictly followed the guideline
- Company Info section is compulsory
- Move the text `* ## Skills` to correct plage
- Add more info or remove `You can bring` section.

[2016-10-20 06:28] hieuk09 commented on #316
There is no update to this post. I'll close it.

[2016-10-20 06:28] #316 closed

[2016-10-22 07:35] gnhuy91 opened #348 "Dwarves Foundation - FrontEnd Engineer - Saigon - FT/PT"
<img src="https://cloud.githubusercontent.com/assets/10569203/19617736/6fcd5eb8-9862-11e6-98fc-2ea8226b124b.png" height="180" />

https://github.com/dwarvesf/WeAreHiring
## Location
- Saigon, Vietnam
## Wanted

We are looking for highly-motivated Frontend engineers with React knowledge/experience, you will build a single-page web application with React, turn designed UI/UX to codes, implement new

[2016-10-25 06:43] RobDoan opened #349 "Tech Outpost - Frontend developer - Saigon - FT"
![Tech Outpost](https://s3.amazonaws.com/temp.neverland/techoutpost-logo.png)

A website is not just a mash up of graphics and words, it is the gateway to your business and it tells your story, brand and vision. First impressions matter, and we believe in making it count. At Tech Outpost, we don’t just build websites, we create memorable experiences that communicates the essence of your brand.
We’

[2016-10-25 10:17] Xvolver opened #350 "Beheard - Node.js Developer - HCMC - FT"
![xvolve-logo-170-151](https://cloud.githubusercontent.com/assets/23050879/19682235/e0050c96-9ad6-11e6-94e1-1f90ae428dce.png)
## About Us
- We are looking for an experience Back-end Developer (Node.js,AngularJS,JavaScript) to join our team!

*We are a brand-new, global startup located in San Francisco and Ho Chi Minh.
- Our CEO has successfully sold his last startup for $20 million.
- BeHeard is f

[2016-10-25 23:03] joneslee85 commented on #350
Thanks for applying with us. Please make following changes:

* The title does not comply with our guideline
* The bulletpoint format is wrong

[2016-10-26 02:46] lienhuynh10991 opened #351 "iOS Software Engineer"
Why join us?

Supporting a team with world-class founders, world-class investors, and a gigantic global market of 3.5 trillion USD is such a rare chance. We invite you to participate in such an opportunity right in the middle of Ho Chi Minh City.

TrustCircle is looking for a youthful, diligent, hard-working, creative and self-motivated person who want to succeed with us and commit to build solid

[2016-10-26 02:53] joneslee85 commented on #351
@lienhuynh10991 please revise the post, the format does not comply with our guideline.

[2016-10-26 02:53] joneslee85 commented on #348
Looks good, please revise the title format and it's ready to go

[2016-10-26 03:04] joneslee85 commented on #344
No amendment. Closed :-1: post

[2016-10-26 03:04] #344 closed

[2016-10-26 03:05] joneslee85 commented on #347
No amendment - closed

[2016-10-26 03:05] #347 closed

[2016-10-26 03:05] joneslee85 commented on #349
Please revise the title, the `Full Time` should be `FT`

[2016-10-26 03:06] joneslee85 commented on #349
Plus the photo is not displaying

[2016-10-26 03:27] vinhdrt opened #352 "Hello Health Group - PHP Web Developer - Saigon - FT"
## Company

As part of Hello Health Group, our goal is to lead Vietnam in the creation of healthcare knowledge, making trustworthy information accessible; empowering us all to live happier and healthier lives. In mid 2015, we formed a team that combined over 40 years of experience in internet venture building, branding & marketing and healthcare. We successfully launched our first platform in Viet

[2016-10-26 03:28] gnhuy91 commented on #348
@joneslee85 thanks, I just revised, is it good now?

[2016-10-26 08:08] RobDoan opened #353 "Tech Outpost - Ruby developer - Saigon - FT"
![Tech Outpost](https://s3.amazonaws.com/temp.neverland/techoutpost-logo.png)

A website is not just a mash up of graphics and words, it is the gateway to your business and it tells your story, brand and vision. First impressions matter, and we believe in making it count. At Tech Outpost, we don’t just build websites, we create memorable experiences that communicates the essence of your brand.
We’

[2016-10-27 04:32] namtran0110 opened #354 "Ruby on Rails / Angular JS Wanted"
## Location

* Saigon, Vietnam

## Salary Expectation

* 8,000,000 vnd for the whole project: 2 months

## Requirements
* Ruby on Rails or Angular JS

## Skills

### You’ll be responsible for

* Building an e-commerce platform for food industry

### You can bring
* A good eyes for design
* A good analyis skill

### Contact

Nam Tran: namtran0110@gmail.com (0913644270)

[2016-10-27 04:34] joneslee85 commented on #354
The post does not comply with our guideline. Furthermore the content is pretty poor. I am closing it.

[2016-10-27 04:34] #354 closed

[2016-10-27 05:32] namtran0110 opened #355 "Ruby on Rails / Angular JS Wanted for Sili project -Freelance- Saigon"
![logo](https://cloud.githubusercontent.com/assets/11750306/19755509/b28453e2-9c40-11e6-9cfd-c7b4e013f4ed.jpg)

##  Sili Sili project:
* Creating a platform that enable cooks to present their products and sell it to the customer.

## Location

* Saigon, Vietnam

## Salary Expectation

* 8,000,000 vnd for the whole project: 2 months

## Skills
* Ruby on Rails/Angular JS using Meteor Framework

## W

[2016-10-27 13:53] dungphanx commented on #353
@RobDoan sorry, I just mail for hr@techoutpost.co but google feedback this email not exists.
could you check your email again?

[2016-10-28 03:32] trankimhieu commented on #354
Hi @namtran0110
Building an e-commerce platform for the food industry with $400 and 2 months. It seems that you do not respect developer time and effort enough. I totally understand that you are running a startup project and don't have much money to pay well.
Truth hurts but invest more and get more. I think you understand this simple rule.

[2016-10-28 03:35] trankimhieu commented on #355
Hi @namtran0110
Building an e-commerce platform for the food industry with $400 and 2 months. It seems that you do not respect developer time and effort enough. I totally understand that you are running a startup project and don't have much money to pay well.
Truth hurts but invest more and get more. I think you understand this simple rule.

[2016-10-28 03:41] huydx commented on #355
hi @namtran0110 , this job-board purpose is not for some kind of short-term, low income freelance job like this. So I would like to close the job.

[2016-10-28 03:41] #355 closed

[2016-10-28 03:46] hieuk09 commented on #351
There is no amendment after 2 days. I'll close this job.

[2016-10-28 03:46] #351 closed

[2016-10-31 09:06] wofi-minh opened #356 "1PAC Vietnam - Backend Developer - Saigon - FT"
### Location

* 6F, 244 Cong Quynh, Dist.1, Ho Chi Minh City

### Salary Expectation

* Negotiable

### Skills

* 2 years working experience with Ruby ( Ruby on Rails ) or PHP ( Laravel, Symfony, CakePHP... )
* Solid understanding of object-oriented programming
* Knowledgeable in database - SQL / RDBS, Memcached
* Knowledge of configuring LAMP enviroment
* Experience with Source Version control: G

[2016-11-01 01:58] RobDoan commented on #353
Thank you, @dungphanx.
Sorry the group email was not set up properly

[2016-11-01 04:24] rauxalach opened #357 "JobReady - Ruby Developer - Nha Trang/Remote - FT"
![employment-services-software2](https://cloud.githubusercontent.com/assets/1320349/14804935/b5a96eb2-0b91-11e6-8313-a433df8a3402.jpg)

## About Us

JobReady are highly proficient technology providers developing cloud-based platforms specialising in Australian VET and Employment Services. JobReady was founded in 1996 and now employs 36 staff from its headquarters in Sydney, 10 Ruby developers in N

[2016-11-01 09:31] Xvolver commented on #350
@joneslee85 is it ok now?

[2016-11-01 09:56] hieuk09 commented on #350
@Xvolver 👍

[2016-11-01 16:51] hieutang-ews opened #358 "Edgeworks Software - PHP Developer - Saigon - FT"
## Edgeworks Software
* We are a software research and development company
* We offer research centered software development in Vietnam and combine Vietnamese diligence & creativity with German quality standards
* If you are passionate about web development technologies and love to push the boundaries of what is possible, Edgeworks is the place for you.
* Learn more about us: http://edge-works.net

[2016-11-01 17:30] hieutang-ews opened #359 "Edgeworks Software - iOS Team Leader - Saigon - FT"
## Edgeworks Software
* We are a software research and development company
* We offer research centered software development in Vietnam and combine Vietnamese diligence & creativity with German quality standards
* If you are passionate about web development technologies and love to push the boundaries of what is possible, Edgeworks is the place for you.
* Learn more about us: http://edge-works.net

[2016-11-02 09:21] #304 closed

[2016-11-03 02:48] nvg58 opened #360 "foobla - Senior WordPress Developer - Hanoi - FT"
<img src="https://cloud.githubusercontent.com/assets/5056439/19954330/ed170ee6-a1a9-11e6-91fa-9556d8cf8595.png" alt="foobla-logo" width="200">

## Who We Are
We are foobla, a global company founded in 2007 working with popular CMS like WordPress and Joomla. Since there, every product we made, we made for lazy users. Some featured products can be listed:
- obRSS - Joomla RSS Feed Syndicator
- obGra

[2016-11-03 03:01] joneslee85 commented on #356
@wofi-minh can you please add a section intro about your company, what sort of work you do, etc. Cheers

[2016-11-03 04:26] lienhuynh10991 commented on #351
Please advise

[2016-11-03 04:28] lienhuynh10991 commented on #351
Hello Mr. Trung Le,

I would like to post the job as the post. Please advise the guidance.

Thanks

On Wed, Oct 26, 2016 at 9:53 AM, Trung Lê <notifications@github.com> wrote:

--

*Lien Huynh (Annie)Tel: +84947.799.788Skype: lien.huynh91*
*LinkedIn: *https://vn.linkedin.com/in/lien-huynh-annie-45650b4b

[2016-11-03 04:29] 8BIT-ROCKSTARS opened #361 "8Bit Rockstars - PHP Developers (Junior/Standard/Senior/Lead) - Saigon - FT"
![8BR](http://8bitrockr.com/img/logo_w.png)
#8 BIT ROCKSTARS

Floor 8th, Vincom B, 72 Le Thanh Ton, Ben Nghe Ward, Dist.1, HCMC
http://8bitrockr.com/
hr@8bitrockr.com

Email CV to **_hr@8bitrockr.com_**
## Salary

**_NEGOTIABLE && VERY ATTRACTIVE_**
## Job Description

You will work as a PHP Developer in a small to medium-sized team with exciting international startups, supported by a local Projec

[2016-11-03 05:41] lienhuynh10991 opened #362 "Trust Circle - iOS Software Engineer - HCMC - Fulltime"
## Why join us?
* Supporting a team with world-class founders, world-class investors, and a gigantic global market of 3.5 trillion USD is such a rare chance. We invite you to participate in such an opportunity right in the middle of Ho Chi Minh City.
* TrustCircle is looking for a youthful, diligent, hard-working, creative and self-motivated person who want to succeed with us and commit to build s

[2016-11-03 06:44] joneslee85 commented on #351
@lienhuynh10991

Please consult https://github.com/awesome-jobs/vietnam/blob/master/README.md

[2016-11-03 06:45] joneslee85 commented on #362
Please revise the post to meet our guideline, as of https://github.com/awesome-jobs/vietnam/blob/master/README.md

* Title format is wrong
* Nested bulletpoint format is wrong

[2016-11-03 08:50] lienhuynh10991 commented on #362
Please check and advice
Thanks

[2016-11-04 01:42] joneslee85 commented on #362
The title is still not correct. There is no `[]` in the title.

[2016-11-04 03:50] lienhuynh10991 commented on #362
Please check. Thanks

[2016-11-07 14:21] hoanghcmus commented on #191
Dear vietzombie,
I have just sent you( info-vn@cookpad.com) an email for application this job.
Could you tell me that you are still recruiting? I look forward to hearing from you soon, thank you!

[2016-11-09 00:16] joneslee85 commented on #356
No amendment after 2 days. Closed.

[2016-11-09 00:16] #356 closed

[2016-11-09 08:51] rakuna2016 opened #363 "Rakuna - Senior Ruby/Rails Developer - Hanoi/Remote - FT"
## Location
* Hanoi, Vietnam (preferred) or Remote

## Salary Expectation
* $1,500+/month
* Relocation assistance may be available

## Requirements
* Outstanding in communication & collaboration _(shit happens all the time. it is ok but we rather want active communication)_
* Write clean, maintainable and efficient code
* Have strong knowledge of TDD, Rspec, PostgresSQL, Redis, MVC...etc
* Have a

[2016-11-10 06:09] #317 closed

[2016-11-10 08:41] angiedang commented on #338
we are still hiring everyone! Come join with us :+1: :100:

[2016-11-11 09:24] olivierobert opened #364 "Nimbl3 - Lead Android Developer - Bangkok - FT"
## Location

* Bangkok, Thailand
* Relocation assistance. Visa and Work permit.

## About Us

We are a software development studio focused on building custom web and mobile applications for startups of Asia Pacific, Europe and the United States. We take a product development approach, creating custom software that people will love to use and empowering our clients to do what they do best - better.

[2016-11-11 09:27] olivierobert opened #365 "Nimbl3 - Senior Web Developer (Ruby/Rails) - Bangkok - FT"
## Location

* Bangkok, Thailand
* Relocation assistance. Visa and Work permit.

## About Us

We are a software development studio focused on building custom web and mobile applications for startups of Asia Pacific, Europe and the United States. We take a product development approach, creating custom software that people will love to use and empowering our clients to do what they do best - better.

[2016-11-11 13:02] angiedang opened #366 "Leflair - Full-Stack Developer - Saigon - FT"
## About Us

Flaunt Your Full-Stack Flair at the coolest ecommerce startup in town!!!

Leflair is the go-to destination for smart buyers who wish to purchase branded and quality products at great price, while enjoying the same exclusive shopping experience as in luxury stores.
Leflair provides its members with exclusive access to the world’s best brands at up to 50% off retail. Every morning, we b

[2016-11-14 00:03] joneslee85 commented on #366
👏 great job post, MUCH better than previous one.

[2016-11-14 03:01] angiedang commented on #366
Thanks @joneslee85 :+1: we keep learning ;)

[2016-11-14 03:10] tucq88 commented on #361
wow, this guys have php jobs as well. Awesome.

[2016-11-14 03:13] tucq88 commented on #133
job vẫn open chứ anh @joneslee85  ?

[2016-11-14 05:15] joneslee85 commented on #133
@tucq88 yes

[2016-11-15 04:25] ASV-recruit opened #367 "AOI Systems Vietnam - Fresher (PHP/Java/JavaScript) - HCM - FT"
## Location

* Etown, Tan Binh, HCMC

## Salary Expectation

* from $350/month or negotiable

## Requirements
* University graduated or last year student: Software Engineer, IT, …
* Have knowledge about OOP
* Able to read documents in English

## Benefits
* 13th month salary. Annual leave 12 days. Health care Insurance.
* Company trip. Team Building. Free parking. Birthday party.
* Working time: 8

[2016-11-15 04:55] joneslee85 commented on #367
Please break this job post into 3 separate job posts. We do not accept such generic job post

[2016-11-15 04:55] #367 closed

[2016-11-15 04:56] joneslee85 commented on #367
Plus there is no information about company profile, what kind of works, etc. 👎

[2016-11-15 04:59] huydx commented on #367
@ASV-recruit could you provide `Why people should love working at aoi-sys` in detail? If you can't i think this job is not accepted here.

[2016-11-15 07:33] sahkoola opened #368 "Code Engine Studio - Sr Ruby Dev - Da Nang - FT"
## About Us

Looking for an exciting and challenging career opportunity at a fun, dynamic and family like English speaking environment? We are a young and energetic company that provides competitive pay and a great work life balance. We put heavy emphasis on training and development offering weekly English and soft skills classes and lunch is provided everyday. We are looking for superstar coders

[2016-11-15 09:29] joneslee85 commented on #368
Thanks for the job posting, starting from today, new job post must comply with new guideline in which the job post must have a section on `### Why it would be awesome to work with us`

Please make amendment in accordance

[2016-11-16 08:56] #324 closed

[2016-11-16 09:38] hungcm0512 opened #369 "iOS Mobile Developer - Misfit Wearables/ Fossil"
You’ll be contributing to the development of next generation wearable products to improve people's health and well-being, while participating in the most innovative engineering team in Vietnam.

WHAT YOU'LL BE RESPONSIBLE FOR:
•	Design and build advanced applications for the iOS platform
•	Collaborate with cross-functional teams to define, design, and ship new features
•	Work with outside data sou

[2016-11-16 09:40] hungcm0512 opened #370 "Android Mobile Developer - Misfit Wearables / Fossil"
You'll be contributing to the development of next-generation wearable products to improve peoples' health and wellbeing, while participating in the most innovative engineering team in Vietnam from feasibility to implementation.

WHAT YOU'LL BE RESPONSIBLE FOR:
•	Design and build advanced applications for the Android platform.
•	Collaborate with cross-functional teams to define, design, and ship ne

[2016-11-16 09:41] hungcm0512 opened #371 "Technical Test Engineer - Misfit Wearables / Fossil"
Our team is offering an opportunity to be a part of a team working on edge-cutting products/ technologies. Our systems need to meet remarkably high standards of quality, performance and reliability, thus you will design, plan, execute test cases for large-scale web applications, mobile applications, tools and software. You are a talented, detail oriented and enthusiastic Quality Assurance Engineer

[2016-11-16 10:17] s123121 opened #372 "AgeCode - iOS Developer - Saigon - FT"
**The world need more innovators.**

So we built AgeCode. We set out to build AgeCode not just as a company but as a innovator hub.
We are challenging the status quo of the travel industry and now, we need more innovators like you, who always interested in creating elegant/state of the art solutions by incredible software development skill. This is your chance to work with challenge lovers, grow y

[2016-11-16 11:51] joneslee85 commented on #371
Thanks for posting with us. The title / content format does not comply with our guideline. Please see https://github.com/awesome-jobs/vietnam for more details. Furthermore, please provide email contact of the HR or representatives at Misfit. FYI if you are middleman recruitment agency, this job post will not be accepted.

[2016-11-17 01:12] joneslee85 commented on #370
Thanks for posting with us. The title / content format does not comply with our guideline. Please see https://github.com/awesome-jobs/vietnam for more details. Furthermore, please provide email contact of the HR or representatives at Misfit. FYI if you are middleman recruitment agency, this job post will not be accepted.

[2016-11-17 01:12] joneslee85 commented on #369
Thanks for posting with us. The title / content format does not comply with our guideline. Please see https://github.com/awesome-jobs/vietnam for more details. Furthermore, please provide email contact of the HR or representatives at Misfit. FYI if you are middleman recruitment agency, this job post will not be accepted.

[2016-11-17 01:14] joneslee85 commented on #372
Thanks for posting with us. Please revise the body to include a section `### Why it would be awesome to work with us`

[2016-11-17 02:39] sahkoola commented on #368
@joneslee85 Thank you!

[2016-11-17 04:16] ikornsolutions opened #373 "Ikorn Solutions - Java Team Leader - HCMC - FT"
##

* Etown 2 Building, Saigon, Vietnam

## Salary Expectation

* $900~ $1200/month

## Requirements
* Java,JavaScript, ActionScript
* Web or Android programming
* PRDBMS (MySQL, SQLite), NoSQL (MongoDB)
* 2+ years working experience

## Skills
-Organizational and problem solving skills

### Must Have
The ability to interact professionally with a diverse group, including executives, manager, and s

[2016-11-17 09:14] vuongtran commented on #366
Greate job! +1

[2016-11-17 09:22] huydx commented on #373
@ikornsolutions thanks for posting with us, it seems that you mis-typed the salary range

and could you please review the "Why it would be awesome to work with us:" session, we don't need
some obvious items like:
[code]
It should be great if you can provide some *reason* why an awesome engineer should work for your company.

[2016-11-17 09:38] longkt90 commented on #373
I think `13th salary will be included` should be good - not all company have this @huydx

[2016-11-17 23:29] joneslee85 commented on #369
No amendment after 2 days. I take this as you don't care enough. Closing 👎

[2016-11-17 23:29] #369 closed

[2016-11-17 23:30] joneslee85 commented on #370
v

[2016-11-17 23:30] #370 closed

[2016-11-17 23:30] joneslee85 commented on #371
No amendment after 2 days. I take this as you don't care enough. Closing 👎

[2016-11-17 23:30] #371 closed

[2016-11-20 11:20] rubyrider commented on #353
Do you offer visa sponsorship ? Remote allowed?

[2016-11-21 04:03] RobDoan commented on #353
@rubyrider: I am sorry, we only hire local. Thanks.

[2016-11-23 02:39] angiedang commented on #366
@vuongtran I sent you an email some time ago ;)

[2016-11-23 02:41] huydx commented on #373
it seems that @ikornsolutions no more care about the job, so i temporary close it

[2016-11-23 02:41] #373 closed

[2016-11-23 11:42] ivy11innovatube opened #374 "INNOVATUBE - Backend developer – Hanoi – FT"
## Location
* Hanoi, Vietnam

## Salary Expectation
* $800 - $1300/month

## Requirements
* More than 2 years of Backend experience, or equivalent
* Experience of Web-based applications with PHP framework (e.g: Laravel, CodeIgniter, Phalcon, or Symfony)
* Hands-on experience in full life cycle technical development projects
* Knowledge and experience in server setup/configuration (Linux or other *

[2016-11-24 17:05] erniesg opened #375 "Code for Asia Society Ltd. - Technology Director - Remote/Singapore - PT"
## About Us
![image](https://cloud.githubusercontent.com/assets/7647813/20606289/e7c960bc-b2aa-11e6-9551-d944158a8b5a.png "Teaching kids to code in Jurong Regional Library, Singapore")

![image](https://cloud.githubusercontent.com/assets/7647813/20606305/006ee2c2-b2ab-11e6-9e23-6d06196bc8e7.png  "Bringing coding classes to a rural community in Guizhou, China")

Code for Asia Society Ltd. (http://c

[2016-11-25 07:35] erniesg commented on #375
Hi, I'm not sure why but I seem to have lost a certain email from "Spectre". Spectra could you could you get in touch with me via the email at codeforasia_at_gmail_dot_com instead? Thanks!

[2016-11-25 13:31] nvs2394 commented on #366
Great job +1

[2016-11-29 09:43] vinhdrt opened #376 "Hello Health Group - Wordpress/Laravel Web Developer - Saigon - FT"
## Company

As part of Hello Health Group, our goal is to lead Vietnam in the creation of healthcare knowledge, making trustworthy information accessible; empowering us all to live happier and healthier lives. In mid 2015, we formed a team that combined over 40 years of experience in internet venture building, branding & marketing and healthcare. We successfully launched our first platform in Viet

[2016-12-01 07:22] NhungCMC opened #377 "CMC Soft - .NET Developer - Ha Noi - PT"
Cau Giay, Ha Noi, Vietnam

##Salary
• $700-$1,500/month
• Partime ( 3-6 months)

## Requirements

• English skills in reading/writing
• 2+ years in Dot net Development
• 1+ years in C#
• 1+ years in Windows USB driver

## Skills

• Utilize established development tools, guidelines and conventions including but
not limited to ASP.NET, SQL Server, HTML, CSS, JavaScript, and C#/VB.NET
•Design, code a

[2016-12-01 07:54] lienhuynh10991 commented on #362
Can I repost this job again?

[2016-12-01 07:56] huydx commented on #362
@lienhuynh10991 what do you mean by repost?

[2016-12-01 08:23] lienhuynh10991 commented on #362
Post another one

[2016-12-01 10:50] lienhuynh10991 opened #378 "Trust Circle - iOS Software Engineer - HCMC - Fulltime"
## Location

* Dist. 7, Saigon, Vietnam

## Salary/Benefits

* We will do our best to make sure you are motivated, happy, healthy, and productive.
* Followings are the few things that we will do:
   - Being challenged to build solid operational software tools for the whole team.
   - Competitive salary: to make sure you are able to maintain a comfortable living for you and your loved ones.
   - Mo

[2016-12-01 12:08] huydx commented on #362
Why you need to post another one? I think you can just edit the current

[2016-12-03 06:54] huydx commented on #378
hi @lienhuynh10991 , we've updated the job post form, would you mind to update to conform the newest template: https://github.com/awesome-jobs/vietnam

[2016-12-03 06:59] huydx commented on #377
hi @NhungCMC , it seems that you're copy the `Why it would be awesome to work with us` from https://github.com/awesome-jobs/vietnam/issues/376 . Is it true? Please answer honestly

To be summary, WE DON'T ACCEPTED LOW QUALITY JOB, and copying from another job post make this job looks totally low quality

![](https://gyazo.com/c990149d6c94c09227cda2773967fc52)

[2016-12-05 03:17] lienhuynh10991 commented on #378
Please check. Thanks!

[2016-12-05 10:06] angiedang commented on #366
still looking for some more awesomeness...

[2016-12-06 00:58] #377 closed

[2016-12-06 03:39] joneslee85 commented on #377
@huydx with you on this, this company now is black-listed

[2016-12-06 03:50] NhungCMC commented on #377
Dear mr Huydx,

i'm so sorry, i'm a new member so a don't know this rules

Best regards
Nhung CMC

[2016-12-06 06:01] joneslee85 commented on #377
@NhungCMC just be professional please. We have clearly stated that job poster should *read carefully* instructions before posting. The job post is not correctly formatted, it is seems to be subjected to plagiarism.

It would help reviewers do their job better. It is not an excuse for being a new member. I bet you would judge a candidates poorly if he/she submit a poorly done resume. Same rules app

[2016-12-06 06:52] NhungCMC commented on #377
I'm say sorry with mr Huydx, not you (Jonesless85) :)

Please don't reply. Thanks you!

[2016-12-06 06:53] huydx commented on #377
@NhungCMC me and @joneslee85 are both admin of this page, please don't be rude

[2016-12-06 07:04] NhungCMC commented on #377
I don't like the way he says

I'll leave :)
Any way thanks a lot!

[2016-12-06 07:56] zweedao opened #379 "e27.co - Front-end Engineer - Saigon - FT"
<img src="https://cloud.githubusercontent.com/assets/3747942/18309117/654bba8a-752a-11e6-8972-c4de60e6b9d7.png" width="400">

## Location: Saigon, Vietnam

## Salary: $1000 - $2000

## About e27 & what we are doing
[**e27.co**](https://e27.co/) is the leading startup community builder in Asia. We provide entrepreneurs with the knowledge & tools to build their startups. Our 3 main products:
- **e27

[2016-12-06 08:31] RecruiterMaiNgo opened #380 "Terralogic (Former Infornam) - Java Developer - Saigon - FT"
Terralogic (former Infornam), headquartered in Silicon Valley, USA is an Engineering & IT services company. It with 1,000 employees and three development centers in US, India and Vietnam provides comprehensive solutions that are cost-effective, scalable and flexible.

The company serves global clients, among them technology pioneers and industry leaders. Our core team is composed of engineers and

[2016-12-07 08:26] huydx commented on #380
@RecruiterMaiNgo Please review our newest template at: https://github.com/awesome-jobs/vietnam . We have some notice changed there.

[2016-12-07 08:27] huydx commented on #379
@zweedao Please review our newest template at: https://github.com/awesome-jobs/vietnam . We have some notice changed there.

[2016-12-07 08:50] CuongPhungYomi opened #381 "Yomi Studio – Senior Ruby Developer - Saigon - FT"
## Location

* 292/46 Binh Loi St., Binh Thanh District, Saigon, Vietnam
* Full-time

## Salary Expectation

* **Up to $2000**

## Requirements
* Familiar with Ruby programming language.
* Knowledge of Unix/Linux environments.
* Solid understanding of object-oriented programming.
* Understanding of front-end technologies, such as Javascript, HTML5, CSS3.
* Able to implement automated testing platf

[2016-12-07 08:51] huydx commented on #381
hi @CuongPhungYomi , thanks for posting job with us, currently our newest template has `### What is hard problems that your company is trying to solve? (MUST)` section, so please update this section

[2016-12-07 08:52] CuongPhungYomi commented on #381
Ok mr Huydx. Thank you for your supporting

[2016-12-07 16:42] zweedao commented on #379
@huydx ok I have edited the description to fit the template

[2016-12-08 01:00] huydx commented on #379
@zweedao what template did you look at? I see it's quite not match with https://github.com/awesome-jobs/vietnam/blob/master/ISSUE_TEMPLATE.md

[2016-12-08 02:46] zweedao commented on #379
@huydx hey bro can I re-arrange sections in the template. Also my feedback is that the template' flow & section headers can be improved.
- "Requirements" & "Skills" seem to serve the same purpose, can be just 1 section
- "Why it would be awesome to work with us" & "What are hard problems that your company is trying to solve?" should not be under section "Skills", but should be under an "About us"

[2016-12-08 03:22] huydx commented on #379
@zweedao nice advice! we will take that advice, so basically template is what we needed, there is no need to matching 1-1 with the template if you already include necessary informations.

[2016-12-08 06:52] RecruiterMaiNgo commented on #380
@huydx I have just modified. Hope it's okay now.

[2016-12-08 08:46] huydx commented on #380
@RecruiterMaiNgo we have a template here, what template did you look at?

[2016-12-08 10:33] #96 closed

[2016-12-12 05:30] ghost opened #382 "No"

[2016-12-12 05:40] Hely73 opened #383 "Golden Owl Consulting - Senior Ruby developer - Saigon - FT"
Golden Owl is a HCMC-Singapore joint venture group focusing on helping customers turn their ideas into websites. Our customers' satisfaction will always be our priority!
We are a young, responsible, and professional team based in Ho Chi Minh City, Vietnam, specializing in web and mobile development with the latest Ruby on Rails and Javascript technologies,  a group of creative experts who build fu

[2016-12-12 05:42] #382 closed, assigned to nobody

[2016-12-12 07:00] RecruiterMaiNgo commented on #380
@huydx : I found the out-updated template :(  I have edited it. Thanks for your support.

[2016-12-12 07:13] RecruiterMaiNgo opened #384 "Terralogic - Technical Lead - Saigon - FT"
Terralogic (former Infornam), headquartered in Silicon Valley, USA is an Engineering & IT services company. It with 1,000 employees and three development centers in US, India and Vietnam provides comprehensive solutions that are cost-effective, scalable and flexible.

The company serves global clients, among them technology pioneers and industry leaders. Our core team is composed of engineers and

[2016-12-12 08:26] quytv commented on #46
bên anh còn tuyển freelancer Ruby không ạ?

[2016-12-12 10:13] angiedang commented on #366
check out who's in our Tech team ;)

https://www.facebook.com/pg/leflairtuyendung/photos/?tab=album&album_id=1376122402418752

[2016-12-12 22:23] Haseeb717 commented on #381
Is it a remote job?

[2016-12-14 04:29] RecruiterMaiNgo commented on #380
@huydx

[2016-12-14 04:29] #380 closed

[2016-12-15 05:14] CuongPhungYomi commented on #381
Hello @Haseeb717  Thank you for your concern about our position. Right now, we are still looking for local developer to finish our project. But in the near future if there are any chances for remote job I shall contact you.

[2016-12-21 06:11] linhnguyenlethao opened #385 "Magnolia in partnership with PYCOGROUP - Senior Java Developer - Saigon - FT"
## About us

Magnolia is a flexible digital business platform with a CMS at its core. It's more than just a content management system, even though it's also one of the best in the world - we're not shy to admit it.

 At Magnolia, we are passionate about working with amazing people and having amazing time building long-term, holistic solutions to help our clients achieve their goals. We are all dri

[2016-12-21 09:11] jfrolich opened #386 "Cogo Platform - Elixir Developer - Remote - FT"
## Location

* Remote

We are a distributed company, the two founders are located in Singapore and Seattle

## Salary Expectation

* Competitive

## Requirements
* Ability to work independently as this is a remote function
* Experience as a programmer
* Proactive with attention to detail
* Great communication skills
* Fluent English language skills
* Passionate about functional programming (we use

[2016-12-21 09:18] jfrolich opened #387 "Cogo Platform - ES6/React Developer - Remote - FT"
## Location

* Remote

We are a distributed company, the two founders are located in Singapore and Seattle

## Salary Expectation

* Competitive

## Requirements
* Ability to work independently as this is a remote function
* Experience as a programmer
* Proactive with attention to detail
* Awareness of good design ('taste')
* Great communication skills
* Fluent English language skills
* Passionate

[2016-12-21 17:28] Gnouc commented on #386
@jfrolich I sent you an email 😄

[2016-12-23 03:14] chung2604 opened #388 "Looking for new member Back end dev (Python)"
## Location: Saigon, Vietnam
## Salary: Negotiate
## Requirements

* 1 - 2 years experience with Python
* Framework: Flask, Django, Odoo
* Young, active & work under high pressure well

### You’ll be responsible for

* Dev back end for FPTPlay, Fshare, nhacso projects
* Research new technicals & apply for products
### You will get

* Salary around $650 - 700, 15-17 months/year
* Special culture, d

[2016-12-23 03:20] huydx commented on #388
@chung2604 please confirm to our job post guide at https://github.com/awesome-jobs/vietnam

[2016-12-23 05:37] Vietvantue opened #389 "MobileFolk - Ruby On Rails Developer - Hanoi,VN - FT"
## Location

* 90 Hang Ma, Hanoi, Vietnam

## Salary Expectation

* 1K$ - 2K$
* Lunch provided
* Weekly team building activities
* Flexible working time
* Working 5 days/week

## Requirements
* Ruby On Rails (PHP, Java)
* PostgreSQL/MySQL/SQL/MongoDB
* 2+ years Software Engineering experience

## What You Are Good At
* Minimum of 2 years experience in web development with a portfolio of previous w

[2016-12-23 05:55] huydx commented on #389
@Vietvantue please conform to our guide at https://github.com/awesome-jobs/vietnam, thanks

[2016-12-26 12:53] tkhieu opened #390 "Canavi.com - React Native - Saigon - FT"
## Location

* Saigon, Vietnam

## Salary Expectation

* Negotiable

## Requirements

* Have experience with `React Native`/`Redux`/`Redux Saga`/`ES6`
* Have basic knowledge of `Restful API`
* Strong understanding of `OOP/OOD`

## Skills

### Must Have

* Experience with `ES6`
* Experience with `Fastlane` (If not, we will show you how)
* Eager to learn `React Native`, we really love `React` mindse

[2016-12-26 12:54] #388 closed

[2016-12-26 12:54] #389 closed

[2016-12-26 12:55] tkhieu commented on #390
@huydx @joneslee85 Please help me review this issue, thanks so much.

[2017-01-06 11:18] jhysum opened #391 "Sentio - Android Engineer - Saigon - FT"
## About us

Sentio is looking for a passionate and experienced Android Engineer. As an early member of the team, you'll be afforded significant autonomy, and room to grow with the company. We are building a new type of computing, which stretches and seeks to define the limits of Android, all to enable productivity for the next billion internet users.

More specifically, our company makes 2 things

[2017-01-10 13:40] vovietanh opened #392 "DropDeck - Web Frontend Lead - Remote/Saigon - FT"
## A Word About Us
DropDeck provides a platform that helps investors find and assess potential startup investments much faster and accurately with our innovative Funnel Design and Trust System technology. The platform also helps startups prepare and arrange their information in the best way that investors expect. This is our best attempt to direct more investable capital ("spare money of rich peop

[2017-01-11 03:02] JaneDang opened #393 "Scuti.asia - Project manager PHP - Ha Noi - FT"
We are Scuti, which is the startup company established by the founder who was the previous General Director of Septeni Technology, one of famous Japanese companies in Asia about web and mobile applications.
Our mission is to provide web services which can change lives of South East Asia. If you have strong entrepreneurship and want to start business of your own in the future, this is very big chan

[2017-01-11 03:08] JaneDang commented on #393
`PHP/Laravel`

[2017-01-11 03:14] hieuk09 commented on #393
Hi @JaneDang, please strictly comply to our guideline here: https://github.com/awesome-jobs/vietnam/blob/master/README.md. You need to change:

- Title
- Indentation

[2017-01-11 08:39] vantran opened #394 "Lixibox - Full-Stack Ruby on Rails Developer - Saigon - FT"
## Location

* Ho Chi Minh city, Vietnam

## Salary & Benefits

* $1,000 - $2,500/month
* Private health insurance
* Stock options

## You and Lixibox, a great match

Lixibox is a e-commerce platform for beauty shoppers and influencers. We aim to be the best destination of all things beauty in Vietnam and SEA.

As a member of the engineering team, you are expected to:

- Develop Lixibox.com to be

[2017-01-11 08:44] huydx commented on #393
@JaneDang please refer to https://github.com/awesome-jobs/vietnam/blob/master/ISSUE_TEMPLATE.md for detail template.

[2017-01-13 08:57] nvquanghuy opened #395 "Holistics.io - Junior Engineer (BigData) - Ruby - Saigon - Full-time/Internship"
<img src="https://cloud.githubusercontent.com/assets/519800/14778031/e5e5f83a-0afa-11e6-8270-de16f0387aa8.png" width="300">

_We're a BigData product startup looking for a junior full-stack engineer who wants an environment to grow and enjoys working in fast-growing startup environment. Fresh graduates  and internship positions are available too._

* _Student Internship / Fresh Graduate / Junior E

[2017-01-13 09:02] hieuk09 commented on #393
@JaneDang: it's almost done, you only need to change the title to

[code]

And it should be good.

[2017-01-16 03:02] Vietnambiz opened #396 "Subiz Vietnam - PHP Developer - HN - FT"
## Location

* Hanoi, Vietnam
* Fulltime

## Salary Expectation

* Negotiable

## Requirements

* At least 2 years experience in PHP
* Be familiar with PHP Framwork (Laravel, Codeigniter)
* Have experience in MongoDB, Redis, Elastiecsearch
* Have experience in unit testing, documentation writing
* Proficiency in Bootstrap, JavaScript, HTML5, CSS3, jQuery
* Having experience in ReactJS, Angular JS,

[2017-01-16 06:22] sahkoola opened #397 "Code Engine Studio - Ruby Dev - Da Nang - PT"
## Location

* Da Nang, Vietnam

## Salary Expectation

* Competitive / Negotiable. Looking for a part-time Ruby contractor who can work weeknights or on weekends for up to 20hrs/week - we can pay by month or by hour.

## Requirements

* Ruby
* JavaScript, XML/JSON and REST API experience
* MySQL, PostgreSQL, or Mongo
* 2+ years Software Engineering experience

## Skills

### Must Have

* Experien

[2017-01-17 04:06] huydx commented on #397
@sahkoola please confirm to our latest template

[2017-01-17 04:14] sahkoola commented on #397
@huydx done.  Please let me know if you need any other edits.

[2017-01-17 04:17] huydx commented on #397
@sahkoola looks better, but how about provide your homepage.
And your team currently not gonna solve any hard problem? so why it needs more people?

[2017-01-17 04:23] sahkoola commented on #397
@huydx done.  thank you.

[2017-01-17 04:27] huydx commented on #396
@Vietnambiz could you provide
- your homepage
- what is hard problem your company are trying to solve

[2017-01-17 04:44] Vietnambiz commented on #396
@huydx: We've just added some information, please kindly check our issue again and let us know if there is anything missed.

[2017-01-17 08:24] CuongPhungYomi commented on #381
We are still hiring guys!!

[2017-01-18 12:38] luvyouso commented on #395
thanks company.

[2017-02-01 14:56] Lyphan opened #398 "ARE YOU AN EXPERIENCED BACKEND DEVELOPER? JOIN US"
## Location

* Saigon, Vietnam
* Fulltime

## Salary Expectation

Up to $1,500USD

## Requirements

* Proven work experience as a backend developer
* Experience with technologies needed for a chat app like Ejabberd server, Erlang (NodeJS is welcome), XMPP protocol, Mnesia & MySQL together with other necessary skills for storage, operating system, push notifications etc
* Familiarity with front-end

[2017-02-01 14:57] huydx commented on #398
@Lyphan
1. please follow our template
2. are you representative of the company.
2.1 if yes, please give us information of the company (name), and use company-domain email (don't use gmail, please)
2.2 if no, you're not eligible to post job here

[2017-02-01 15:01] #398 closed

[2017-02-01 15:09] Lyphan commented on #398
@huytd
I closed this issue and will prepare a new one following your advice. Tks!

[2017-02-01 15:11] Lyphan commented on #398
@huydx
I closed this issue and will prepare a new one following your advice. Tks!

[2017-02-01 16:35] Lyphan opened #399 "sbqteam.com - Senior backend developer - Saigon - FT"
## Location

* Saigon, Vietnam

## Salary Expectation

* Up to $1,500 USD/month

## Requirements
* Proven work experience as a backend developer
* Experience with technologies needed for a chat app like Ejabberd server, Erlang (NodeJS is welcome), XMPP protocol, Mnesia & MySQL together with other necessary skills for storage, operating system, push notifications etc
* Familiarity with front-end la

[2017-02-02 07:08] nvquanghuy opened #400 "Holistics.io - UX/UI Engineer - Saigon - FT"
<img src="https://cloud.githubusercontent.com/assets/519800/14778031/e5e5f83a-0afa-11e6-8270-de16f0387aa8.png" width="300">

https://www.holistics.io

_**TL;DR: We're a product startup looking for a front-end designer/developer who wants an environment to grow and enjoys working in fast-growing startup environment. Both seniors, juniors and internship positions are available.**_

* _Front-end Desi

[2017-02-02 10:16] vovietanh commented on #392
We have successfully registered for AI XPRIZE and this is what we heard from Amir Banifatemi, AI XPRIZE Lead: "I checked their application and website. They have a good story and a good chance. Convey that to them."

We have checked your profile on AI Portal and found that you're looking for a team to join. So I would like share with you about our project.

Our team is building a web platform for

[2017-02-02 15:19] zer0-x commented on #392
Maybe it's not the place but a space is missing on your website: "By signing up, you agree with our termsand privacy"

[2017-02-03 10:53] #399 closed

[2017-02-05 10:56] ishanagr opened #401 "Funding Societies - Backend developer - Remote/Saigon - FT/PT"
## About us

We fund SMEs and grow economies. We are building technology to fund Small and Medium Enterprises (SMEs) by identifying creditworthy firms for our Peer-to-Peer lending platform. You will contribute to efforts that innovatively solve this problem across Southeast Asia.

We raised our [series A](https://techcrunch.com/2016/08/08/funding-societies-raises-7-5m-for-its-loan-marketplace-in-s

[2017-02-05 11:02] ishanagr opened #402 "Funding Societies - Frontend developer - Remote/Saigon - FT/PT"
## About us

We fund SMEs and grow economies. We are building technology to fund Small and Medium Enterprises (SMEs) by identifying creditworthy firms for our Peer-to-Peer lending platform. You will contribute to efforts that innovatively solve this problem across Southeast Asia.

We raised our [series A](https://techcrunch.com/2016/08/08/funding-societies-raises-7-5m-for-its-loan-marketplace-in-s

[2017-02-06 10:26] chung2604 opened #403 "PHP Developer"
## Location

* Saigon, Vietnam

## Salary Expectation

* Up to $700/month

## Requirements
* University Qualification in Software Engineering or a related degree
* At Least 1,5 Years Experience in PHP

## Skills
* PHP
* Laravel
### Must Have

* Proven web development experience in PHP
* Familiar with at least one MVC framework (such as Laravel, Yii, etc)
* Good knowledge of relational databases (s

[2017-02-06 11:38] ducnm9990 opened #404 "Ownego - JS/PHP Developer - Hanoi - PT"
## Location

* Hanoi, Vietnam
* Internship or Junior

## Salary Expectation

* Agreement

## Requirements

* Javascript basic or PHP basic

### Must Have

* Familiar with Javascript or PHP

### Responsibilities

* Join developing projects in regard to front-end or back-end development

### You’ll be responsible for

* Building a website or mobile application

### Why it would be awesome to work wi

[2017-02-06 13:12] huydx commented on #403
@chung2604 could you please read our guideline for job post?

[2017-02-06 13:14] huydx commented on #404
@ducnm9990 your job post is too general and does not give much information. Could you please refer to another tagged job post and rewrite this properly?

[2017-02-06 13:45] ntloi95 commented on #395
I wonder about payment for internship?

[2017-02-06 16:48] tunglam14 opened #405 "VCCorp/VCCloud - Junior Frontend Developer - Hanoi - FT"
## Location

* Hanoi, Vietnam

## Salary Expectation

* $400-700

## Requirements

* A will to learn
* Good front-end skills: HTML/CSS/Javascript
* Working with RESTful APIs

## Skills

### Must Have

* Experienced with HTML/CSS/Javascript (jQuery & its plugins)
* Responsive Web Design with Twitter Bootstrap
* Git know-how
* Basic knowledge of UI/UX design

### Ideally

* Proficient with front-end

[2017-02-07 05:40] allbombs opened #406 "Viral Foundry - RoR Developer - Saigon / Vietnam Remote 🇻🇳 - FT"
![top-talent-wanted-viral-foundry](https://cloud.githubusercontent.com/assets/2031239/22678717/4d2057ba-ed37-11e6-9270-c99f95c224f6.png)

## About

We're looking for a full time backend ruby on rails developer. You will join the team and help build web apps and mobile applications. We have internal products and partner with other companies to build products/MVP's.

You would work
Promo - http://pr

[2017-02-07 12:36] allbombs opened #407 "Viral Foundry - Front End Developer (Ruby/JS/Backbone/Angular.. Small touch of Php/Wordpress) - Saigon / Vietnam Remote 🇻🇳 - FT"
![top-talent-wanted-viral-foundry](https://cloud.githubusercontent.com/assets/2031239/22678717/4d2057ba-ed37-11e6-9270-c99f95c224f6.png)

## About

Are you a mid-level, or senior Front End Developer?

We're looking for a JS hero to help develop digital products for web and mobile. Do you love JavaScript and totally appreciate JS in all of it's incarnations (client, server, mobile, etc)? Do you reg

[2017-02-08 02:46] nvquanghuy commented on #395
@ntloi95 You'll receive payment depends on your skills level and your commitment/performance during your internship period. We don't have any limitation for payment. :)

[2017-02-08 05:52] venturahr opened #408 "ZIGExN VeNtura - Ruby on Rails Developer - HCM - FT"
## Location

* District 10, Ho Chi Minh City, Vietnam

## Salary

* $700 - $1500

## Description
* Join in a product/system design phase with Japan team to analyze system requirements
* Suggest, propose creative solutions to solve problems
* Design, develop and test high-traffic Web application in Ruby on Rails (sometime do DevOps to deploy to production)
* Write technical documentation

## Requir

[2017-02-08 07:44] #403 closed

[2017-02-08 07:44] #404 closed

[2017-02-08 08:15] venturahr opened #409 "ZIGExN VeNtura - PHP Developer - HCM - FT"
## Location

* District 10, Ho Chi Minh City, Vietnam

## Salary

* Above $700

## Description
* Join in a product/system design phase with Japan team to analyze system requirements
* Suggest, propose creative solutions to solve problems
* Design, develop and test high-traffic Web application in Ruby on Rails (sometime do DevOps to deploy to production)
* Write technical documentation

## Requirem

[2017-02-08 08:17] venturahr opened #410 "ZIGExN VeNtura - Java Developer - HCM - FT"
## Location

* District 10, Ho Chi Minh City, Vietnam

## Salary

* Above $700

## Description
* Join in a product/system design phase with Japan team to analyze system requirements
* Suggest, propose creative solutions to solve problems
* Design, develop and test high-traffic Web application in Ruby on Rails (sometime do DevOps to deploy to production)
* Write technical documentation

## Requirem

[2017-02-09 03:25] PhamQuiToan opened #411 "gumi Vietnam - PHP Developer - HCMC - FT"
## Company profile

![gumi Vietnam logo](http://gumiviet.com/gumiviet/wp-content/uploads/2013/08/logo.png)
- gumi Vietnam is a Japanese base IT company strongly focus on making Web & Mobile application.
- gumi Vietnam is a branch of gumi Japan company established on Oct - 2012.
- We 're strongly focus on making Web & Mobile application, both in out-sourcing and in-house products.
- Here at gumi Vi

[2017-02-09 08:15] RecruiterMaiNgo opened #412 "Terralogic - Senior Front-end Developer - HCMC - FT"
Terralogic (former Infornam), headquartered in Silicon Valley, USA is an Engineering & IT services company. It with 1,000 employees and three development centers in US, India and Vietnam provides comprehensive solutions that are cost-effective, scalable and flexible.

The company serves global clients, among them technology pioneers and industry leaders. Our core team is composed of engineers and

[2017-02-09 08:18] RecruiterMaiNgo opened #413 "Terralogic - Java Developer - HCMC - FT"
Terralogic (former Infornam), headquartered in Silicon Valley, USA is an Engineering & IT services company. It with 1,000 employees and three development centers in US, India and Vietnam provides comprehensive solutions that are cost-effective, scalable and flexible.

The company serves global clients, among them technology pioneers and industry leaders. Our core team is composed of engineers and

[2017-02-10 08:52] nqtrang2793 opened #414 "PIXTA Vietnam - Technical Leader (IT Team) - Hanoi - FT"
## **Salary Expectation**

* Up to $2000/month

## **What you will do**
* Coordinate tasks between Japan's IT teams (headquarter) and Vietnam's IT teams
* Cooperate with team members to analyze issues and propose solutions to tackle those issues
* Continuously improve team performance, upgrade work process and system architecture to enhance customers and contributors' satisfaction
* Update with th

[2017-02-12 12:44] palaa159 opened #415 "Fastwork.co Looking for Golang Backend Developer (BKK, THAILAND)"
## Location

* Bangkok, Thailand

## Salary Expectation

* $1,000 - 2,000 (Negotiable)

## Requirements
* Be able to work full-time at Bangkok Headquarter
* Experience with Golang
* A working knowledge of Node.js or Python is a plus

### You’ll be responsible for

* Building strong and advanced APIs, Data Pipeline for Fastwork
* Implement new features with Design, Business, and Frontend Team

###

[2017-02-13 07:23] Sparxvietnam opened #416 "[Sparx*] - [Junior Technical Artist] - [HCM] - [FT]"
## LOCATION

* Saigon, Vietnam

## SALARY

* Negotiable

## REQUIREMENTS
* Willing to work in the 3D industry, mostly for video games, and to act as a support for our teams of Artists.
* Enjoys working in a team: though in a small team, he will code tools and implement solutions to support bigger teams of 3D Artists and Animators.
* Particularly interested in real-time computer graphics.
* Formal

[2017-02-14 06:31] hainguyenp207 commented on #395
Is still receive CV?

[2017-02-14 23:55] joneslee85 commented on #410
@venturahr can you please update the job title to comply with our [guideline](https://github.com/awesome-jobs/vietnam#title-format)? Thaksa

[2017-02-14 23:56] joneslee85 commented on #409
@venturahr can you please update the job title to comply with our [guideline](https://github.com/awesome-jobs/vietnam#title-format)? Besides why do this job mention about Rails?

[2017-02-14 23:58] joneslee85 commented on #408
@venturahr can you please update the job title to comply with our [guideline](https://github.com/awesome-jobs/vietnam#title-format)? Thanks. And please remove the word `Super` from job title.

[2017-02-15 01:18] venturahr commented on #410
@joneslee85 our main language working here at ZIGExN VeNtura is ROR. However, if Java developers are willing to learn and work with ROR, we welcome as well. Thank you.

[2017-02-15 01:19] venturahr commented on #409
@joneslee85 our main language working here at ZIGExN VeNtura is ROR. However, if PHP developers are willing to learn and work with ROR, we welcome as well. Thank you.

[2017-02-15 12:26] datvo opened #417 "[Kins Solutions] - [Senior Ruby On Rails] - [HCM] - [FT]"
## Location

* Saigon, Vietnam : District 2 and District Tan Binh
38A Le Van Huan Street, Tan Binh District, HCM

## Salary Expectation

* Up to $2500 NET

## Requirements
- Degree or Diploma in Computer Science, Computer or Electronics Engineering, Information Technology or related disciplines.
- Minimum 2 years experience in any of the followings: Ruby on Rails, Golang
- Good UI/UX design sense

[2017-02-17 08:46] namdaoviet opened #418 "2359 Media VN - ReactJS Developer - Saigon - FT"
## Location
* Saigon, Vietnam

## Salary Expectation
* 1000 - 2000 USD/month

## Requirements
* Degree in Computer Science, Information Systems, or a related field, or significant equivalent experience
*  Strong working knowledge of HTML5, CSS and JavaScript
* At least 1 year Experience in ReactJS or equivalent experience in other JS front end frameworks with an interest in ReactJS
* Ability to de

[2017-02-18 04:44] duytruong commented on #395
Is this position still open?

[2017-02-18 05:48] nvquanghuy commented on #395
Yes :)

On Sat, 18 Feb 2017 at 11:44 AM, duytruong <notifications@github.com> wrote:

[2017-02-18 12:15] nhim175 opened #419 "JAM Group - Javascript Deveveloper - Remote/Hanoi - C"
## Location

* Hanoi, Vietnam
* Remote

## Salary Expectation

* up to $1200/month (will consider every 6 months based on performance)

## Requirements
* HTML
* CSS
* Javascript
* AngularJS, NodeJS
* Linux
* 3+ years Javascript programming experience

## Skills

### Must Have

* A Linux or Mac PC
* Deep knowledge about Javascript, CSS

### Ideally

* Experience with Responsive web development
* Ex

[2017-02-18 17:17] kythanh opened #420 "GKIM - Ruby on Rails Developer - Remote / HCMC - PT"
![GKIM Digital](https://s3-ap-southeast-1.amazonaws.com/gkim-digital/logo/imgpsh_fullsize.png)

## Location

* Saigon, Vietnam
* Working Remote

## Salary Expectation

* Negotiate $ per hour.

## Requirements
* Experiences on Ruby on Rails.
* PostgreSQL

### Contact
Homepage: https://gkim.digital
Please contact our HR at hr@gkxim.com for more details.

[2017-02-20 04:26] vantran opened #421 "Lixibox - Full-Stack Ruby on Rails Developer - Saigon - FT"
## Location

* Ho Chi Minh city, Vietnam

## Salary & Benefits

* $1,000 - $2,500/month
* Private health insurance
* Stock options

## You and Lixibox, a great match

Lixibox is a e-commerce platform for beauty shoppers and influencers. We aim to be the best destination of all things beauty in Vietnam and SEA.

As a member of the engineering team, you are expected to:

- Develop Lixibox.com to be

[2017-02-21 02:28] CuongPhungYomi opened #422 "Yomi Studio – Ruby Developer - Saigon - FT"
# Location

* 292/46 Binh Loi St., Binh Thanh District, Saigon, Vietnam
* Full-time

## Salary Expectation
* Up to $2000

## Requirements (Must)

* Familiar with Ruby programming language
* Knowledge of Unix/Linux environments
* Solid understanding of object-oriented programming
* Understanding of front-end technologies, such as Javascript, HTML5,
CSS3
* Able to implement automated testing platfor

[2017-02-21 07:40] chung2604 opened #423 "Senior PHP Developer"
## Location

* Tan Thuan, District 7, Saigon, Vietnam
* Full Time

## Salary Expectation

* Around $700

## Requirements
* Engineering qualification in Software major
* At least 2 years experience in PHP
* Familiar with laravel or Yii framework

## Skills
PHP Developer; Laravel framework

### Responsibilities

Build up product for FPT-er in VAS Dept - R&D
Researching new technology for projects

#

[2017-02-21 09:37] Hanaxuchi opened #424 "FPT Software - Senior Java Developer - Singapore - FT"
## Location

* Singapore

## Salary Expectation

* 4.4-5.5K SGD /month or range

## Requirements
* At least 3 years technical experience and knowledge in J2EE Framework
* Must have strong expertise with Java/J2EE application design, architecture and development experience such as Spring, EJB, Hibernate
* Must have experience with REST Service architectures and other lightweight approaches to servi

[2017-02-23 08:46] tranvictor opened #425 "SmartPool - Full Stack Developer - Remote - FT"
## Location

* Remote

## Salary Expectation

* $1000-$2000/month

## Time

* You will be working with us for 4-6 months
* You can be invited to working with us in bigger projects if your performance fits us.

## Requirements

* CSS, Javascript, HTML
* Ruby, Golang (or Rust)
* Experience in making web application from scratch
* Experience in building command line tool (even small ones are good)

#

[2017-02-23 08:50] huydx commented on #415
@palaa159 please read our README and conform to our format

[2017-02-23 08:53] huydx commented on #423
@chung2604 last time I warn you, read our guideline carefully, or you will not be eligible to post job here any more

[2017-02-23 09:02] taitran2008 commented on #67
Job còn không vậy anh ơi ?

[2017-02-23 11:22] joneslee85 commented on #408
@venturahr your change is not still not accurate, the guideline title does not have those square brackets, so your title would be

`ZIGExN VeNtura` - Super Ruby on Rails developer - HCM - FT`

[2017-02-23 14:17] venturahr commented on #410
@joneslee85 Hi, our job posts has been on "pending" status for 9 days. Is there something wrong? Please help me with this. Thank you.

[2017-02-23 14:18] venturahr commented on #409
@joneslee85 Hi, please help me here with the pending label

[2017-02-23 14:20] venturahr commented on #408
@joneslee85 many thanks

[2017-02-23 14:39] 8BIT-ROCKSTARS opened #426 "8Bit Rockstars - 10 Senior PHP Developers - Symfony - Saigon - FT"
![8BR](http://8bitrockr.com/img/logo_w.png)
# 8 BIT ROCKSTARS

Floor 8th, Vincom B, 72 Le Thanh Ton, Ben Nghe Ward, Dist.1, HCMC
http://8bitrockr.com/
hr@8bitrockr.com

Email CV to **_hr@8bitrockr.com_**
## Salary

**_1000$ - 1500$_**
## Job Description

It’s not only about coding, but also about **building products**. You will be joining an awesome **startup team** to build cool **applications**

[2017-02-23 14:41] 8BIT-ROCKSTARS opened #427 "8Bit Rockstars - PHP Technical Lead/ Architecture (Head of IT) - Saigon - FT"
![8BR](http://8bitrockr.com/img/logo_w.png)
# 8 BIT ROCKSTARS

Floor 8th, Vincom B, 72 Le Thanh Ton, Ben Nghe Ward, Dist.1, HCMC
http://8bitrockr.com/
hr@8bitrockr.com

Email CV to **_hr@8bitrockr.com_**
## Salary

**_1000$ - 3000$_**
## Job Description

It’s not only about coding, but also about **building products**. You will be joining an awesome **startup team** to build cool **applications**

[2017-02-23 14:43] 8BIT-ROCKSTARS opened #428 "8Bit Rockstars - Front End Senior Developer - Saigon - FT"
![8BR](http://8bitrockr.com/img/logo_w.png)
# 8 BIT ROCKSTARS

Floor 8th, Vincom B, 72 Le Thanh Ton, Ben Nghe Ward, Dist.1, HCMC
http://8bitrockr.com/
hr@8bitrockr.com

Email CV to **_hr@8bitrockr.com_**
## Salary

**_up to 1500$_**
## Job Description

It’s not only about coding, but also about **building products**. You will be joining an awesome **startup team** to build cool **applications** th

[2017-02-24 06:07] anhnguyenquynhphuong commented on #408
are you still recruiting?

[2017-02-24 06:31] venturahr commented on #408
@anhnguyenquynhphuong yes we do, please send us your CV via g-hr@zigexn.vn. Thank you

[2017-02-24 16:45] kythanh opened #429 "GKIM - Testers - HCMC - FT"
![GKIM Digital](https://s3-ap-southeast-1.amazonaws.com/gkim-digital/logo/imgpsh_fullsize.png)

## Location

* Saigon, Vietnam
* Working Fulltime.

## Salary Expectation

* Negotiate during the interview.

## Requirements
* Develop test plans, test cases and testing scripts, for manual and automated testing for websites / cms / mobile applications (iOS / Android).
* Do manual testing (execute test

[2017-02-25 05:17] allbombs opened #430 "Viral Foundry - Android Developer - Saigon / Vietnam Remote 🇻🇳 - FT"
![vn - android developer](https://cloud.githubusercontent.com/assets/2031239/23328446/18c75c10-fb5c-11e6-94fe-b6c8a6f1ba20.png)

Looking to apply your talents and energy to meaningful problems? Want to make a significant dent? Join our small team and build beautiful android applications at a small product studio today.

Viral Foundry is looking for a full time senior Android Developer. You will jo

[2017-02-27 04:35] Dawensky opened #431 "INNAWAY - Senior PHP Developer (Full-Stack Engineer) - Hanoi and Ho Chi Minh - Full Time"
## Location
* Hanoi, Vietnam
* Remote

## Salary Expectation
* $1000 - $1200/month or range

## Requirements
1. Strong knowledge of PHP web frameworks (Laravel)
2. Knowledge of web technologies and tools, such as JavaScript, HTML5, and CSS3, Bootstrap, etc.
3. Knowledge of distributed application and MVC design patterns
4. Knowledge of database schema implementation that represent and support busi

[2017-02-27 04:36] Dawensky commented on #431
This is urgent guys!

[2017-02-28 08:22] nathanphan commented on #431
just email you, please check. Thanks

[2017-02-28 09:45] dinhthi1610 opened #432 "Backend Engineering Lead (Ruby-on-Rails)"
**Backend Engineering Lead (Ruby-on-Rails)**
**Salary** : $1000 - $1500

**Location** : Ho Chi Minh City (Binh Thanh District), Vietnam

Competitive Pay & Bonus + Medical Insurance + English Lessons

**About Wonolo**

Wonolo is the leader in On-Demand Staffing.

Everyday, we are creating flexible opportunities for people to make extra income,

learn new skills, and change their lives.

Wonolo was

[2017-02-28 09:48] dinhthi1610 opened #433 "Front-end Web Engineer (JavaScript/Ruby-on-Rails)"
**Front-end Web Engineer (JavaScript/Ruby-on-Rails)**

**Salary** :
 $1000 - $1300
**Location**
Ho Chi Minh City (Binh Thanh District), Vietnam

Competitive Pay & Bonus + Medical Insurance + English Lessons

**About Wonolo**

Wonolo is the leader in On-Demand Staffing.

Everyday, we are creating flexible opportunities for people to make extra income,

learn new skills, and change their lives.

Won

[2017-02-28 10:09] hieuk09 commented on #433
Please create another post followed our [guideline](https://github.com/awesome-jobs/vietnam#what-is-the-format-of-the-job-post). This job post will be closed.

[2017-02-28 10:09] #433 closed

[2017-02-28 10:09] hieuk09 commented on #432
Please create another post followed our [guideline](https://github.com/awesome-jobs/vietnam#what-is-the-format-of-the-job-post). This job post will be closed.

[2017-02-28 10:09] #432 closed

[2017-02-28 10:10] hieuk09 commented on #431
Hi @Dawensky, could you please update the job post title to comply with our template?

[2017-02-28 10:13] hieuk09 commented on #429
Hi @kythanh, could you please update the job post to comply with our template?

[2017-03-01 02:12] Dawensky commented on #431
I will Hieu.

Thanks

On 28 February 2017 at 17:10, Hiếu Nguyễn <notifications@github.com> wrote:

--

Technical Founder
INNAWAY <http://innaway.co>
Demo <http://www.innaway.xyz/> - Hotel Demo <http://host.innaway.xyz/>

[2017-03-01 02:13] Dawensky commented on #431
Sorry Hieu! Where can I see the template again. I don't remember the template format.

[2017-03-01 02:44] kythanh commented on #429
Hi @hieuk09,
I've udpated my post again. Thanks for your reviewing.

[2017-03-01 04:23] joneslee85 commented on #423
@chung2604 there has not been any changes for the last 6 days. I am closing this post. Please create a new one that follow our template.

[2017-03-01 04:23] #423 closed

[2017-03-01 04:23] joneslee85 commented on #416
Please create the post again that follow our template (check the title format)

[2017-03-01 04:23] #416 closed

[2017-03-01 04:24] joneslee85 commented on #417
Please create new post that comply with our template. Check the title format please.

[2017-03-01 04:24] #417 closed

[2017-03-01 04:26] joneslee85 commented on #419
@nhim175 would you be able to provide an intro on what your startup is about?

[2017-03-01 04:28] joneslee85 commented on #420
@kythanh your post lack some sections that we care. Please see the README and update the post accordingly.

[2017-03-01 04:29] joneslee85 commented on #429
Your post lack:

[code]

[2017-03-01 06:32] constantx commented on #170
@joneslee85 can I close this and repost?

[2017-03-01 06:32] constantx commented on #170
What's a good way to renew for visibility?

[2017-03-01 07:21] joneslee85 commented on #170
@constantx the best way is to close any old post and create a new one. I would renew every 3 months if you have not found a candidate

[2017-03-01 07:22] joneslee85 commented on #431
@Dawensky lastly, are you the official HR or staff of this company? Do you have a contact email with domain `innaway.co`?

[2017-03-01 09:23] #415 closed

[2017-03-01 11:03] hrmeete opened #434 "Meete HCMC is looking for PHP DEVELOPER!!"
## About Meete

Meete is a startup which provides restaurants and food stalls’ e-vouchers under the form of promotion codes. Currently, Meete has existed in HCMC and Ha Noi, and is planning to expand to other areas. Since establishment in 2015, Meete has been awarded Best Newcomer at the Rice Bowl Startup Awards.

## Mission

Help build Meete’s new website system, become an admin to manage and api

[2017-03-01 12:18] Dawensky commented on #431
Yes, I am. The contact email (for innaway.co) is yet to be ready. So I am
using my personal email for now

On 1 March 2017 at 14:22, Trung Lê <notifications@github.com> wrote:

--

Technical Founder
INNAWAY <http://innaway.co>
Demo <http://www.innaway.xyz/> - Hotel Demo <http://host.innaway.xyz/>

[2017-03-02 02:23] #434 closed

[2017-03-02 02:24] joneslee85 commented on #434
Please read the README carefully on our guideline and feel free to re-create a new job post.

[2017-03-02 04:21] nvg58 opened #435 "foobla - Senior WordPress Developer - Hanoi - FT"
<img src="https://cloud.githubusercontent.com/assets/5056439/19954330/ed170ee6-a1a9-11e6-91fa-9556d8cf8595.png" alt="foobla-logo" width="200">

## Who We Are
We are foobla, a global company founded in 2007 working with popular CMS like WordPress and Joomla. Since there, every product we made, we made for lazy users. Some featured products can be listed:
- obRSS - Joomla RSS Feed Syndicator
- obGra

[2017-03-02 04:24] nvg58 opened #436 "foobla - Frontend WordPress Developer - Hanoi - FT"
<img src="https://cloud.githubusercontent.com/assets/5056439/19954330/ed170ee6-a1a9-11e6-91fa-9556d8cf8595.png" alt="foobla-logo" width="200">

## Who We Are
We are foobla, a global company founded in 2007 working with popular CMS like WordPress and Joomla. Since there, every product we made, we made for lazy users. Some featured products can be listed:
- obRSS - Joomla RSS Feed Syndicator
- obGra

[2017-03-02 04:30] #372 closed

[2017-03-02 08:21] s123121 opened #437 "Xpath - React-native/iOS developer - Saigon - FT"
**The world need more innovators.**

So we built xpath.co. We set out to build xpath not just as a company but as a innovator hub.
We are challenging the status quo of the travel industry and now, we need more innovators like you, who always interested in creating elegant/state of the art solutions by incredible software development skill. This is your chance to work with challenge lovers, grow yo

[2017-03-03 01:23] venturahr commented on #408
@joneslee85 Another thing, please help me put on the label "Ruby" instead of "PHP". Many thanks

[2017-03-03 01:25] venturahr commented on #410
@joneslee85 Please help me put on "Java" label instead of "PHP". Thanks. Have a good one.

[2017-03-03 01:47] RecruiterMaiNgo opened #438 "Terralogic - Senior JavaScript Developer - HCMC - FT"
Terralogic (former Infornam), headquartered in Silicon Valley, USA is an Engineering & IT services company. It with 1,000 employees and three development centers in US, India and Vietnam provides comprehensive solutions that are cost-effective, scalable and flexible.

The company serves global clients, among them technology pioneers and industry leaders. Our core team is composed of engineers and

[2017-03-03 02:23] constantx commented on #170
got it, thanks :)

[2017-03-03 02:24] #170 closed

[2017-03-03 02:29] constantx opened #439 "Chopp - Full-Stack Engineer - HCMC - FT"
# Full-Stack Engineer
## Why you’ll love working with Chopp:

We are an early stage, fully-funded startup that aims to bring world-class customer service and convenience to grocery shopping in Vietnam. Our team is lean with lots of opportunities to grow and learn. If you’re ready to take on a challenging and rewarding role in a dynamic Silicon-Valley-Style team and help shape the future of on-dema

[2017-03-03 04:27] duynguyenNAB opened #440 "Not A Basement Studio - Senior Android Developer - HCMC - FT"
### Why NAB Studio?

At Not A Basement Studio, passion and young-at-heart spirit are what influence our works from the very first day. For that, we've been stating a strong position in such competitive industry either in Vietnam or South East Asia. If you are a CHALLENGE-SEEKER who obsesses with building awesome products for millions of users around the world - just like what we LOVE to do, join u

[2017-03-03 10:46] JunLam opened #441 "Mulodo Vietnam - Ruby on Rails Developer - HCM - FT"
## Location

* Ho Chi Minh City, Vietnam

## Salary Expectation

* Negotiable

## Job contents

* Developing and maintaining web service for Japanese company;
* Researching the solutions for solving problem on design and development process;
* Creating detailed design, designing database based on analyzed specification;
* Supporting estimate for related development tasks and risks for team leader.

[2017-03-03 22:48] nhim175 commented on #419
@joneslee85: It's like a matching service that helps people find pros/helpers easier

[2017-03-06 02:55] #306 closed

[2017-03-06 08:34] #441 closed

[2017-03-06 09:00] mulodo-vietnam-hr opened #442 "Mulodo Vietnam - Ruby on Rails Developer - HCM - FT"
![mulodo](https://cloud.githubusercontent.com/assets/25657323/23602697/457e5928-0284-11e7-9fcc-09b3e3afb84b.jpg)

## Location

* Ho Chi Minh City, Vietnam

## Salary Expectation

* Negotiable

## Job contents

* Developing and maintaining web service for Japanese company;
* Researching the solutions for solving problem on design and development process;
* Creating detailed design, designing databa

[2017-03-06 09:31] hrmeete opened #443 "Meete - PHP Developer - Remote/Saigon - FT/PT"
## Location

* Saigon, Vietnam
* Remote

## Salary Expectation

* Competitive salary with lunch and accommodation

## Requirements
* PHP, MySQL
* Experience with one of frameworks Symfony, Zend, Laravel
* No certificates required, at least 1 year of experience is an advantage
* Current university students can apply

### Must Have

* Strong programming skills
* Eager to learn, responsible

### Idea

[2017-03-06 10:33] mulodo-vietnam-hr opened #444 "Mulodo Vietnam - Frontend (HTML/CSS/Javascript) Senior Developer - HCM - FT"
![mulodo](https://cloud.githubusercontent.com/assets/25657323/23606372/0058d1e8-0293-11e7-8ec4-4264a1183548.jpg)

## Location

* Ho Chi Minh City, Vietnam

## Salary Expectation

* Negotiable

## Job contents

* Developing and maintaining web service for Japanese company.
* Researching the solutions to solve problems on design and development process.
* Supporting and suggesting screen layout desi

[2017-03-07 01:56] mulodo-vietnam-hr opened #445 "Mulodo Vietnam - PHP Leader - HCM - FT"
![mulodo](https://cloud.githubusercontent.com/assets/25657323/23638372/e8d43de2-0313-11e7-9fd2-743d1a4fa371.jpg)

## Location

* Ho Chi Minh City, Vietnam

## Salary Expectation

* Negotiable

##Job contents

* Developing and maintaining web service for Japanese company;
* Communicating with customers;
* Analyzing specification, designing system;
* Scheduling and managing progress tasks;
* Support

[2017-03-07 02:01] mulodo-vietnam-hr opened #446 "Mulodo Vietnam - PHP Senior Developer - HCM - FT"
![mulodo](https://cloud.githubusercontent.com/assets/25657323/23638483/870f5a3c-0314-11e7-876b-29bcd2ea82bc.jpg)

## Location

* Ho Chi Minh City, Vietnam

## Salary Expectation

* Negotiable

## Job contents

* Developing and maintaining web service for Japanese company;
* Researching the solutions for solving problem on design and development process;
* Creating detailed design, designing databa

[2017-03-08 03:43] duynguyenNAB opened #447 "Not A Basement Studio - Senior iOS Developer - HCMC - FT"
### Why NAB Studio?

At Not A Basement Studio, passion and young-at-heart spirit are what influence our works from the very first day. For that, we've been stating a strong position in such competitive industry either in Vietnam or South East Asia. If you are a CHALLENGE-SEEKER who obsesses with building awesome products for millions of users around the world - just like what we LOVE to do, join u

[2017-03-08 03:47] khacanh opened #448 "CodeLink - Full Stack Developer - HCMC - FT"
![15272114_236883266725356_2298237411271883747_o](https://cloud.githubusercontent.com/assets/122055/23690266/c71d1aa4-03f2-11e7-95a1-c4b5df3dd339.jpg)

## Location

We are conveniently located on Truong Dinh at the border of District 1 and District 3, with easy access for all districts and a plentiful amount of awesome food and great coffee shops around the office

## About us

CodeLink is an inno

[2017-03-08 08:52] 8BIT-ROCKSTARS opened #449 "8Bit Rockstars - Python Developer (Senior/Tech Lead) - Saigon - FT"
![8BR](http://8bitrockr.com/img/logo_w.png)
# 8BIT ROCKSTARS

Floor 11th, Vincom B, 72 Le Thanh Ton, Ben Nghe Ward, Dist.1, HCMC
http://8bitrockr.com/
hr@8bitrockr.com

Email CV to **_hr@8bitrockr.com_**
## Salary

**_up to 2000$_**
## Job Description

It’s not only about coding, but also about **building products**. You will be joining an awesome **startup team** to build cool **applications** th

[2017-03-09 09:06] duynguyenNAB opened #450 "Not A Basement Studio - Front-End Web Developer - HCMC - FT"
### Why NAB Studio?

At Not A Basement Studio, passion and young-at-heart spirit are what influence our works from the very first day. For that, we've been stating a strong position in such competitive industry either in Vietnam or South East Asia. If you are a CHALLENGE-SEEKER who obsesses with building awesome products for millions of users around the world - just like what we LOVE to do, join u

[2017-03-10 04:26] venturahr commented on #408
Hi Phương Anh,

Em xem tình trạng job của GitHub và update thêm.

Thanks em

On Thu, Feb 23, 2017 at 6:22 PM, Trung Lê <notifications@github.com> wrote:

--

Thanks and Best Regards

Duyen Truong - HR Division

―――

Mail : hr@zigexn.vn
URL :  <http://zigexn.vn/>http://zigexn.vn
Tel: (08)-3863-3399 , 0933-252-705 <0902-959-785>

Head Office: 4F-A1 Mirae Business Center, 268 To Hien Thanh,
Ward 15,

[2017-03-10 04:28] venturahr commented on #408
Dear Mr Trung Le,

Sorry for the mistake.

Best regards.

On Fri, Mar 10, 2017 at 11:25 AM, Huong Duyen Truong <duyenth@zigexn.vn>
wrote:

--

Thanks and Best Regards

Duyen Truong - HR Division

―――

Mail : hr@zigexn.vn
URL :  <http://zigexn.vn/>http://zigexn.vn
Tel: (08)-3863-3399 , 0933-252-705 <0902-959-785>

Head Office: 4F-A1 Mirae Business Center, 268 To Hien Thanh,
Ward 15, District 10, HC

[2017-03-14 08:30] namdaoviet opened #451 "2359 Media VN - Android Developer - Saigon - FT"
## Location

* Saigon, Vietnam

## Salary Expectation

* 1000 - 2000 USD/month

## Requirements
* Degree in Computer Science, Information Systems, or a related field, or significant equivalent experience
* Strong OO design and programming skills in Java
* Knowledge of Android SDK, Android Studio, SQLite, MySQL or similar database management system
* Effective operation in a fast-paced, deadline-dr

[2017-03-15 10:00] euronck opened #452 "Magic8Labs- JavaScript Developer Startup 💥Sign on Bonus💥- HCM- FT"
<div class="edit-comment-hide">
    <table class="d-block">
      <tbody class="d-block">
        <tr class="d-block">
          <td height="1135" class="d-block comment-body markdown-body markdown-format js-comment-body">
              <h2><img src="https://s3-us-west-2.amazonaws.com/magic8labsmediaassests/Main+Logosm.jpg" width="800" height="159" alt=""/></h2>
              <h2>&nbsp;</h2>

[2017-03-16 03:10] dominhquan opened #453 "Spout360 - Senior Backend Developer - HCM - FT"
## Location
* 224A-224B Dien Bien Phu Street, Ward 7, District 3, phường 7, Quận 3, Ho Chi Minh City, Vietnam

## Salary Expectation
* Negotiable : 1000 - 2000 $ / month

## Requirements
* Strong background in Backend programing languages. Preferably Nodejs or Golang, but we're open to any language.
* Experience in building scalable distributed service and data-heavy features is a huge advantage
*

[2017-03-16 08:05] chung2604 commented on #423
Hi,
Sr about reply you late,
I'v read the guideline & wanted to do all things as your requirement & other post, but i don't know how to post the right advertising
Let me know about my mistakes!
Tks u, guys

[2017-03-16 09:22] chung2604 opened #454 "FPTTelecom - Java/Python Developer - Sai Gon - FT"
## Location

* FPT Telecom Building, Tan Thuan EPZ, District 7, HCMC, Vietnam

## Salary Expectation

* $1000/month

## Requirements
* At least 3 years experience in Java (Web)
* Have knowledge in Big Data, Python Dev
* Good experience with database - backend
* IT Degree Qualification

### Ideally

* Experience with Bigdata

### Responsibilities

Great power comes with great responsibilities!

###

[2017-03-16 10:25] thanhbk150 opened #455 "NeoLab HCM - Ruby developer - SaiGon"
## Location

* 60 Nguyen Dinh Chieu, P. Da Kao, Q.1

## Salary Expectation

* Negotiable : 500 - 1300 $ / month

## Requirements
* Ruby
* PostgreSQL, MySQL
* 1+ year experience in Ruby on Rails development.

## Skills
* Strong experience with client side, web technologies (HTML/CSS/JS)
* Strong analytical and problem solving skills
* Good at Teamwork, communication
* Know Japanese is an advantage.

[2017-03-16 16:38] furst opened #456 "Limina Financial Systems - golang developer - Remote/Sweden - FT"
![alt text](http://kfurst.com/images/limina-logo.png "Limina logo")

## About Limina

### What are hard problems that our company is trying to solve?

Our vision is system automation in one of the most lagging industries in the world – finance. The foundation is to use computers for what they excel at – reliable automation of well defined tasks. We don’t aim to replace humans with our software, bu

[2017-03-17 07:08] fippu82 opened #457 "HMS Fashion - Freelance Rails and js developer - Saigon/remote - Contract"
## Location

* Saigon, Vietnam (for first meeting and introduction to the system with our technical lead)
* Remote (afterwards)

## Salary Expectation

* $8/h

## Requirements
at least 1 year experience in:
* Ruby on Rails
* Javascript (we write mostly code in Coffescript though)
*at least 4 years software development experience.*

## Ideally
* Have additional frontend design skills.

### Responsi

[2017-03-18 02:16] chung2604 opened #458 "FPT Telecom - Senior PHP Dev (laravel) -Saigon - FT"
## Location

* Dis 7, Saigon, Vietnam

## Salary Expectation

* $800 - 1000

## Requirements
* At least 2 years experience in PHP, using Laravel framework
* Have experience with product development
* Young, active & wanna get more successful & career Path in product environment

## Skills
* PHP
* Backend
* Laravel

### Responsibilities
- Building a new product for FPT Telecom
- Research new techno

[2017-03-18 15:23] #407 closed

[2017-03-18 15:23] allbombs opened #459 "💣💥 Viral Foundry - Front End Developer (Ruby/JS/React/Vue/Angular) - HCM or Remote"
![top-talent-wanted-viral-foundry](https://cloud.githubusercontent.com/assets/2031239/24073360/53543280-0c29-11e7-8869-67ff093d7b29.png)

Viral Foundry is looking for a talented javascript rockstar. You will join a small team and help build web and mobile applications. This is a unique opportunity where you will work in Indonesia for 6 weeks leading up to Tech In Asia Singapore conference on May 1

[2017-03-18 15:48] allbombs opened #460 "🇻🇳 Viral Foundry - Senior Full Stack Developer - HCM / Vietnam Remote"
![full-stack-developer-hcm-viral-foundry](https://cloud.githubusercontent.com/assets/2031239/24073660/870170e4-0c2d-11e7-8f2c-eabc55120d46.jpg)

We're looking to add a Full Stack Developer to our team, and the illustration above. We're a small knit team that builds 2-3 new products / startups per year. The illustration above is from 3 months ago when our entire team traveled to Bali to work in a v

[2017-03-18 15:48] #406 closed

[2017-03-20 05:06] nvquanghuy opened #461 "Holistics.io - Junior Engineer (BigData) - Ruby - Saigon - Full-time"
<img src="https://cloud.githubusercontent.com/assets/519800/14778031/e5e5f83a-0afa-11e6-8270-de16f0387aa8.png" width="300">

_We're a BigData product startup looking for a junior full-stack engineer who wants an environment to grow and enjoys working in fast-growing startup environment. Fresh graduates  and internship positions are available too._

Holistics is a data platform that allows analysts

[2017-03-20 05:06] nguyenkhoi2806 commented on #448
Hi Company
Where Can I send my Cv to your company
thanks

[2017-03-20 05:10] nvquanghuy commented on #339
We filled up this position. Please refer to this link for our new opening slot:
https://github.com/awesome-jobs/vietnam/issues/461

[2017-03-20 05:10] #339 closed

[2017-03-20 05:10] nvquanghuy commented on #395
We filled up this position. Please refer to this link for our new opening slot:
https://github.com/awesome-jobs/vietnam/issues/461

[2017-03-20 05:10] #395 closed

[2017-03-20 06:52] khacanh commented on #448
@nguyenkhoi2806 Thanks for your interest. Please send it to `ka_at_codelink_dot_io`

[2017-03-20 10:01] #457 closed

[2017-03-20 10:38] Dieutn opened #462 "Waverley - Senior Ruby on Rails Developer - Saigon - FT"
**Why it would be awesome to work with us**
Our Silicon Valley headquarters connects with offices in Los Angeles and Chicago, with development centers in Kharkiv, Lviv, and Ho Chi Minh City, Vietnam. Our teams work with major corporations and exciting startups to bring critical projects to life.
For over twenty years Waverley has built a solid reputation delivering exceptional software to the most

[2017-03-20 10:55] anhldbk commented on #217
@dxungngh Is the position still available?

[2017-03-21 05:33] jadephan0204 opened #463 "[Intelligence Business Solutions Vietnam Co., Ltd] - Senior Ruby on Rails Developers (Team Leader)"
Dear all,
We are looking for Ruby on Rails Developers who enjoy work as same as play with family and friend.
As a Senior Ruby on Rails Developer/Team Leader your will
- To create excellent solutions for our client and support developing,
- To mentor and build up a strong team.
- To join in a system design, develop and test Web application in Ruby on Rails

**1. [Your Skills and Experience]**

- 4+

[2017-03-21 05:44] #463 closed

[2017-03-21 06:13] jadephan0204 opened #464 "[Intelligence Business Solutions Vietnam Co., Ltd] - Senior Ruby on Rails Developers (Team Leader)"
![logo_blue](https://cloud.githubusercontent.com/assets/26560782/24134178/06108632-0e35-11e7-9273-ec897f7290a8.png)

Dear all,

We are looking for Ruby on Rails Developers who enjoy work as same as play with family and friend.

As a Senior Ruby on Rails Developer/Team Leader your will

* To create excellent solutions for our client and support developing,
* To mentor and build up a strong team.
*

[2017-03-21 07:30] Lytructran opened #465 "[LARION] 5 Ruby on Rails Developers - Salary up to $1200 - Urgent"
## Location
Quang Trung Software City, Tan Chanh Hiep Ward, District 12, Ho Chi Minh City, Vietnam

## Salary Expectation
$700 - $1000

## Requirements
+ Education: College or Bachelor of IT-Software or equivalent
+ English: Intermediate level or above
+ Good insight into Ruby and Rails and their nuances [at least 1 year experience]
+ Experienced with file system, cloud storage, network resources

[2017-03-21 08:15] #464 closed

[2017-03-21 08:59] jadephan0204 opened #466 "[Intelligence Business Solutions Vietnam Co., Ltd] - Senior Ruby on Rails Developers (Team Leader)"
![logo_blue](https://cloud.githubusercontent.com/assets/26560782/24134178/06108632-0e35-11e7-9273-ec897f7290a8.png)

Dear all,

We are looking for Ruby on Rails Developers who enjoy work as same as play with family and friend.

As a Senior Ruby on Rails Developer/Team Leader your will

* To create excellent solutions for our client and support developing,
* To mentor and build up a strong team.
*

[2017-03-21 14:19] dxungngh commented on #217
Hello @anhldbk
Thanks for your question, but this position is not available now. Hope that we can work together in the future.
Keep in touch.

[2017-03-21 14:20] #217 closed

[2017-03-21 14:31] thanhnguyennguyen commented on #460
It's not really an issue, haha

[2017-03-22 01:21] chung2604 opened #467 "FPT Telecom - Android developer -Saigon - FT"
## Location

* Saigon, Vietnam

## Salary Expectation

* $500 - $800

## Requirements
* At least 1 years experience in Android
* Young, Active
* Wanna get more new challenges
* Prefer learning new technology, new languages

### Responsibilities

Great power comes with great responsibilities!

### You’ll be responsible for

* Building & develop products in FPT Telecom
* Researching new technologies

[2017-03-22 05:45] jadephan0204 opened #468 "[Intelligence Business Solutions Vietnam Co., Ltd] - Senior Java Developer"
**JOB DESCRIPTION**

Dear all,
We are looking for developers who enjoy work as same as play with family and friend.

As a Senior Java Developer, you will:
- Participate in analysis requirements, design mock, implementation, test process
- Work under pressure
- Learn and grow quickly

**JOB REQUIREMENT**

- 3+ year experience with Java language
- English speaking, writing skill.
- Experience about

[2017-03-22 05:53] jadephan0204 opened #469 "[Intelligence Business Solutions Vietnam Co., Ltd] - Senior PHP Developer"
**JOB DESCRIPTION**

We are looking for many PHP developers who enjoy work as same as play with family and friend.

As a Senior PHP Developer, your will:
•	To create excellent solutions for our client and support developing,
•	To mentor and build up a strong team.
•	To join in a system design, develop and test Web application in Ruby on Rails

**JOB REQUIREMENT**

- 4+ year experience with PHP lan

[2017-03-22 06:51] inspicorp opened #470 "Inspi corp - Junior/Senior Full-stack Developer - HCMC - FT"
# __About Us__
* INSPI CORPORATION is a US-based company, founded by two Vietnamese who studied at MIT and worked at Microsoft, Google and Facebook. We are pursuing a startup project which aims to disrupt education with personalized learning powered with Artificial intelligence. We are starting with English learning and teaching and looking to sell not just in Vietnam but also the global market.
*

[2017-03-23 03:26] rauxalach commented on #466
@jadephan0204  Some note on your  job ads:

 Ruby on Rails is a framework, not a language.

doesn't sound right, are you looking for a Senior Ruby or C# ?

same here, are you looking for internship ?

[2017-03-23 03:27] joneslee85 commented on #466
@jadephan0204 👎 I don't think we could accept this job post for it lacks attention and ❤️ . If you could not spend enough time to write a proper job post than just copying and pasting, I don't think the job board is the right place for you. I am going to close this ticket now.

[2017-03-23 03:27] #466 closed

[2017-03-23 06:34] jadephan0204 opened #471 "[Intelligence Business Solutions Vietnam Co., Ltd] - Senior Ruby on Rails Developers (Team Leader)"
![logo_blue](https://cloud.githubusercontent.com/assets/26560782/24134178/06108632-0e35-11e7-9273-ec897f7290a8.png)

Dear all,

We are looking for Ruby on Rails Developers who enjoy work as same as play with family and friend.

As a Senior Ruby on Rails Developer/Team Leader your will

* To create excellent solutions for our client and support developing,
* To mentor and build up a strong team.
*

[2017-03-23 06:35] huydx commented on #471
refer comment here https://github.com/awesome-jobs/vietnam/issues/466

[2017-03-23 06:35] #471 closed

[2017-03-23 07:21] dominhquan opened #472 "Spout360 - Mobile Engineer (React Native, Android, iOS) - HCM - FT"
## Location
* 224A-224B Dien Bien Phu Street, Ward 7, District 3, phường 7, Quận 3, Ho Chi Minh City, Vietnam

## Salary Expectation
* Negotiable : 1000 - 2000 $ / month

## Requirements
* Experience in API design, SDK architecture, and mobile software lifecycle development practices.
* Understanding of UX Design - experienced in converting visuals, flow to working prototypes.
* Work on performanc

[2017-03-24 03:54] #452 closed

[2017-03-24 04:08] euronck opened #473 "💥Magic8Labs - JavaScript Developer for Startup w/Sign-on Bonus- HCM- FT💥"
<div class="edit-comment-hide">
    <table class="d-block">
      <tbody class="d-block">
        <tr class="d-block">
          <td height="1135" class="d-block comment-body markdown-body markdown-format js-comment-body">
              <h2><img src="https://s3-us-west-2.amazonaws.com/magic8labsmediaassests/Main+Logosm.jpg" width="800" height="159" alt=""/></h2>
              <h2>&nbsp;</h2>

[2017-03-24 09:31] lilytaller opened #474 "Remote Resources - Senior Ruby Developers - Saigon - FT"
## Location

* Dist. 5, Saigon, Vietnam

## Salary range

* $1800 - $2500

## Requirements

* Is likely to have 2+ years of web and/or software development with Ruby on Rails
* Has experience with automated testing frameworks
* Has experience with dynamic public-facing web apps
* Has proven ability to deliver multiple projects over a period of time
* Has working knowledge of most of the stack of a

[2017-03-25 13:26] dohoangminhquan opened #475 "TechJDI - Ruby on Rails Dev - HCM - Fulltime - Permanent"
## Saigon based

* Saigon, Vietnam

## Salary Expectation

* $1000 to $2500

## Requirements
● Have experience building several applications using Ruby on Rails, and sql or no sql database system
● Be able to articulate the limitations and benefits of any frameworks used
● Be able to articulate the differences between sql and no sql and how using either or both impacts the system.
● Be able to des

[2017-03-26 02:00] greenpine82 opened #476 "DEK Technologies - EXPERIENCED C AND C++ DEVELOPER - Saigon - Fulltime"
![dek-technologies-headline-photo-compress](https://cloud.githubusercontent.com/assets/8168503/24331319/cb561bee-125b-11e7-854c-b6c28fa52911.JPG)

## Join our winning team!

DEK Technologies is a professional organization that places high value on people and the individual competence that they contribute. People enjoy working at DEK. They enjoy the team camaraderie, flexibility, opportunities for

[2017-03-26 11:51] greenpine82 opened #477 "DEK Technologies - TEST FRAMEWORK DEVELOPER - Saigon - Fulltime"
![dek-technologies-headline-photo-compress](https://cloud.githubusercontent.com/assets/8168503/24331350/a268ad18-125c-11e7-9395-c425614a1464.JPG)

## Join our winning team!

DEK Technologies is a professional organization that places high value on people and the individual competence that they contribute. People enjoy working at DEK. They enjoy the team camaraderie, flexibility, opportunities for

[2017-03-27 08:26] #450 closed

[2017-03-27 13:18] greenpine82 opened #478 "DEK Technologies - Linux Developer - Saigon - FT"
![dek-technologies-headline-photo-compress](https://cloud.githubusercontent.com/assets/8168503/24331319/cb561bee-125b-11e7-854c-b6c28fa52911.JPG)

## Join our winning team!

DEK Technologies is a professional organization that places high value on people and the individual competence that they contribute. People enjoy working at DEK. They enjoy the team camaraderie, flexibility, opportunities for

[2017-03-29 03:00] huyenbui14 opened #479 "VietInterview - Web Developer - Cau Giay/Hanoi - FT"
## Location (MUST)

* Hanoi, Vietnam
* Duong Dinh Nghe Street

## Salary Expectation (MUST)

* $700/month

## Requirements (MUST)
* PHP
* Python
* JS +/- HTML/CSS
* 2+ years Software Development experience

## Skills

### Must Have (MUST)

* Be able to passinate in our working environment
* Be able to work for the sake of the company

### Ideally

* Experience with Angular JS/NodeJS

### Responsib

[2017-03-29 06:03] vantran opened #480 "Lixibox - Full-Stack Ruby on Rails Developer - HCM - FT"
## Location

* Ho Chi Minh city, Vietnam

## Salary & Benefits

* $1,000 - $2,500/month - Negotiable
* Private health insurance
* Stock options

## Excellent Engineering Required

Our engineers have a high standard of excellence across the board and we always look for team members that could push this standard further upwards.

You would be an excellent team member if you love technologies, can le

[2017-03-29 07:55] nvquanghuy opened #481 "Holistics.io - Product Engineer (BigData Platform) - Ruby - Saigon - FT"
Hey guys,

We've filled up our last round of hiring and growing quickly, we're opening up another positions. If you like problem solving, writing clean beautiful code, apply away. What others took more than 5 engineers to build, we've built it with 2.

See below for a list of interesting engineering problems you will expect to solve when working with us.

Speak soon,
Huy - CTO & Cofounder

Other P

[2017-03-30 04:57] allbombs opened #482 "Viral Foundry - RoR Backend Developer - Build new MVP from scratch - HCM / Vietnam Remote - 5 week contract"
Viral Foundry is looking for a backend developer to build a brand new MVP. You will write the first lines on a new product we're launching. This is a contract position (40 hours per week) with opportunities to convert into full-time. Looking for someone to start ASAP.

## Location
* Saigon, Vietnam
* Remote

## Salary Expectation

* $1,500 - $3,500

## Requirements
- Awesome. Talented developer wi

[2017-03-30 06:57] nqtrang2793 opened #483 "[PIXTA VIETNAM] - [Web Developer] - [Hanoi] - [FT]"
## Location

* Hanoi, Vietnam

## Salary Expectation

* $500 - 1000/month

## Your skills and work experience
* Solid knowledge on web development
* Junior position: 1 - 3 year(s) of work experience on web development
* Technical leader: more than 3 years of work experience on web development + management skills
* 5+ years Software Engineering experience

### Nice to have

* Knowledge and work exp

[2017-03-30 10:53] hienha592 opened #484 "GO GAME VIETNAM_Game Developer (Unity/C++)"
## Location

* Saigon, Vietnam

## Salary Expectation

* Negotiable

## Requirements
* Good knowledge of Unity3D (C#);
*• Good knowledge of NGUI library in Unity3D;
*• Good knowledge of C++
* 2+ years of experience in Game Industry

## Skills

### Must Have

* • Good knowledge of Unity3D (C#);
*• Good knowledge of NGUI library in Unity3D;
*• Good knowledge of C++
*• Fast to read and understand cod

[2017-03-30 15:27] #473 closed

[2017-03-30 15:45] euronck opened #485 "Magic8Labs - JavaScript Node.js Angular for Startup w/Sign-on Bonus- HCM- FT or PT 🐧"
<div class="edit-comment-hide">
    <table class="d-block">
      <tbody class="d-block">
        <tr class="d-block">
          <td height="1135" class="d-block comment-body markdown-body markdown-format js-comment-body">
              <h2><img src="https://s3-us-west-2.amazonaws.com/magic8labsmediaassests/Main+Logosm.jpg" width="800" height="159" alt=""/></h2>
              <h2>&nbsp;</h2>
    <

[2017-04-02 10:47] greenpine82 opened #486 "DEK Technologies - C, C++ MIDDLEWARE SOFTWARE DEVELOPERS - Saigon - Fulltime"
![dek-technologies-headline-photo-compress](https://cloud.githubusercontent.com/assets/8168503/24331350/a268ad18-125c-11e7-9395-c425614a1464.JPG)

## Join our winning team!

DEK Technologies is a professional organization that places high value on people and the individual competence that they contribute. People enjoy working at DEK. They enjoy the team camaraderie, flexibility, opportunities for

[2017-04-03 01:07] acandrei opened #487 "[Pillarcare] - [Ruby on Rails dev and team leader] - [HCMC] - [FT]"
## Location

* Saigon, Vietnam

## Salary Expectation

* 1.5K-3K USD

## Requirements
*Solid understanding of web technologies, relational databases and object oriented design
*Specific knowledge and experience of Ruby, Rails, Chef, MySQL, and HTML5
*Source Control using Git
*Ability to lead development efforts
*Ruby gem creation/maintenance
*Ruby Meta-programming
*Practical experience implementin

[2017-04-03 06:41] euronck opened #488 "Magic8Labs - Python Senior Nija - HCM- FT Contract"
<div class="edit-comment-hide">
    <table class="d-block">
      <tbody class="d-block">
        <tr class="d-block">
          <td height="1135" class="d-block comment-body markdown-body markdown-format js-comment-body">
              <h2><img src="https://s3-us-west-2.amazonaws.com/magic8labsmediaassests/Main+Logosm.jpg" width="800" height="159" alt=""/></h2>
              <h2>&nbsp;</h2>
    <

[2017-04-03 11:52] tangoanh opened #489 "Frontend developer - Dinosys - HCM - Fulltime"
## Location
204 Pasteur, Ward 4, District 3, HCM city

## Salary Expectation
$600-$1000

## Requirements
* HTML5
* CSS3
* Angular 2
* 1-3 year commercial experience with HTML5, JavaScript, CSS or other web technologies

## Skills
Strong JavaScript and AngularJS skills. Experience with Angular 2 or TypeScript is a plus

### Must Have

• Experience building responsive web apps
• Strong analytical an

[2017-04-03 12:01] tangoanh opened #490 "Back-end Developer - Dinosys - HCM - Fulltime"
## Location

204 Pasteur, Ward 4, District 3, HCM city

## Salary Expectation
$600-$1000

## Requirements
* Ruby on Rails or Grape API
* HTML5
* PostgreSQL
* 2+ years Software Engineering experience

## Skills
•	Experience with Ruby on Rails or Grape API
•	Experience writing tests with RSpec/MiniTest and doing Continuous Integration is a plus
•	Experience working with relational database (PostgreS

[2017-04-04 03:16] jameshuynh opened #491 "Rubify Technology - Junior Web Developer - HCMC - FT"
## Location

* 145 Le Quang Dinh Street, 14th Ward, Binh Thanh District, Ho Chi Minh City, Vietnam

## Salary Expectation

* $300 - $600/month

## Requirements

* Proﬁcient in HTML, CSS, Javascript.
* Ability to work with databases such as MySQL.
* Desire to learn new web technologies and programming languages.
* Ability to deliver on original stated project milestones.
* Willingness to adapt to c

[2017-04-04 14:54] luvcjssy commented on #491
Dear,
I have sent my CV to HR email. However, I do not know that your company has received my CV yet.
Regards,
Hoan Nguyen

[2017-04-04 14:56] jameshuynh commented on #491
Thanks Hoan for applying. We will review your CV get back to you soonest.

[2017-04-10 00:28] cinlung opened #492 "GD Systems - Java/Android Developer - Surabaya, Indonesia - FT"
## Location
* Surabaya, Indonedia

## Salary Expectation
* $400 to 800/month depending on skills

## Requirements
* Java minimum 2 years experience
* Java script
* MySQL
* 1+ years on android development

## Skills
Java, JSP, CSS, Javascript, android or similar.

### Must Have
* Be able to live locally
* Be able to finish projects on time responsibly
* Understand lifecycle of the software
* leadin

[2017-04-10 05:03] Vuta commented on #491
Dear @jameshuynh,
I have sent my CV for Junior Web Developer at your company. Please let me know if there was anything else you would like to see in order to improve my candidacy.
Thank you for your time.
Sincerely,
Tran Anh Vu

[2017-04-10 06:14] nvquanghuy opened #493 "Holistics.io - Growth Hacking Engineer - Saigon - FT"
Hello guys,

We're looking for a "growth hacking engineer" to join us, working on building/integrating internal automated systems to help with growth marketing/sales.

This is a rare opportunity to be an engineer and understand what growth hacking (growth marketing) is about, at the same time understand how to integrate different systems to effectively achieve desired results.

See below for a lis

[2017-04-10 06:30] jameshuynh commented on #491
Thanks Vuta, will review your resume and contact you soon.

[2017-04-10 11:09] #485 closed

[2017-04-10 11:10] euronck opened #494 "Magic8Labs - JavaScript Node.js Angular for Startup w/Sign-on Bonus- HCM- FT or PT 🐧"
<div class="edit-comment-hide">
    <table class="d-block">
      <tbody class="d-block">
        <tr class="d-block">
          <td height="1135" class="d-block comment-body markdown-body markdown-format js-comment-body">
              <h2><img src="https://s3-us-west-2.amazonaws.com/magic8labsmediaassests/Main+Logosm.jpg" width="800" height="159" alt=""/></h2>
              <h2>&nbsp;</h2>
    <

[2017-04-11 16:56] anhldbk commented on #456
Is `Golang experience` a must?

[2017-04-12 07:24] ynguyentps opened #495 "TPS - Ruby Developer - HCM - Fulltime"
## Location
* Saigon, Vietnam

## Salary Expectation
Very Attractive

## Requirements
**MUST HAVE**
* 2+ years of experience in web development and Ruby on Rails programming
* Experience with Database system (MySQL/MongoDB)
* Experience with Linux (Ubuntu, CentOS)

**NICE TO HAVE**
* Good front-end skill to develop UI from PSD or XD design
* Experience with PhoneGap framework

**LANGUAGE SKILLS**